<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Car Fixers</title>
<meta name="mobile-web-app-capable" content="yes">
<meta name="theme-color" content="#3f51b5"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<base href="/gmCarFixers/" />
<link rel="stylesheet" href="resources/lib/css/sanitize.css">
<link rel="stylesheet" href="resources/lib/css/angular-material.min.css">
<link rel="stylesheet" href="resources/lib/css/angular-toastr.css">
<link rel="stylesheet" href="resources/lib/css/gmCarFixers.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body ng-app="gmCarFixers" ng-cloak>
	
<!-- <div ng-include src="'app/home/home.html'"></div -->
<div ng-controller="home.controller as hc">
	<section layout="row" flex="">
	 	<md-sidenav layout="column" class="md-sidenav-left" md-component-id="left">
	 		<md-toolbar class="md-theme-indigo">
	        	<h1 class="md-toolbar-tools"></h1>
	      	</md-toolbar>
	
	     	<md-content layout-margin layout="column" layout-align="">
	     		<md-button class="md-primary" 
	     				   ng-if="hc.loginFactory.role === 'Company' || hc.loginFactory.role === 'Dealer'"
	     				   ng-click="hc.toggleSideNav('left', 'Inquiry')">Inquiry</md-button>
		       	<md-button class="md-primary" 
		    			   ng-if="hc.loginFactory.role === 'Company'"
						   ng-click="hc.toggleSideNav('left', 'Driver')">Driver</md-button>
		       	<md-button class="md-primary" 
		       	  		   ng-if="hc.loginFactory.role === 'Company'"
		       			   ng-click="hc.toggleSideNav('left', 'Workshop')">Workshop</md-button>
		       			   
		       	<md-button class="md-primary" 
		       	  		   ng-if="hc.loginFactory.role === 'Company'"
		       			   ng-click="hc.toggleSideNav('left', 'Towfixers_inquiry')">Towfixers_inquiry</md-button>
				<!-- <md-button class="md-primary" 
		    			   ng-if="hc.loginFactory.role === 'Master'"
		    			   ng-click="hc.toggleSideNav('left', 'Company')">Company</md-button> -->
		    	<md-button class="md-primary" 
		    			   ng-if="hc.loginFactory.role === 'Master'"
		    			   ng-click="hc.toggleSideNav('left', 'Dealer')">Dealer</md-button>
		    	<md-button class="md-primary" 
		    			   ng-if="hc.loginFactory.role === 'Master'"
		    			   ng-click="hc.toggleSideNav('left', 'Temp_company')">Temp Vendor</md-button>
		    	<md-button class="md-primary" 
		    			   ng-if="hc.loginFactory.role === 'Dealer'"
		    			   ng-click="hc.toggleSideNav('left', 'Company')">Vendor</md-button>
		    	<md-button class="md-primary" 
		    			   ng-if="hc.loginFactory.role === 'Dealer'"
		    			   ng-click="hc.toggleSideNav('left', 'Technician')">Technician</md-button>
		    	<md-button class="md-primary" 
		    			   ng-if="hc.loginFactory.role === 'Dealer'"
		    			   ng-click="hc.toggleSideNav('left', 'Tech_inquiry')">Tech Inquiry</md-button>
		    	<md-button class="md-primary"
		    				ng-if="hc.loginFactory.role === 'Master' || hc.loginFactory.role === 'Dealer'"
		    			   ng-click="hc.toggleSideNav('left', 'ContactUs')">Contact Us</md-button>
		    </md-content>
	 	</md-sidenav>   
	</section>
	
	<md-toolbar style="display: flex;justify-content: space-between;{{hc.loginFactory.pageHeadColor}}" layout-padding="" layout="row" layout-align="space-between center">
		<div style="display: flex;padding:0px;">
			<md-button class="md-icon-button" ng-if="hc.loginFactory.isLoggedIn == true" ng-click="hc.toggleSideNav('left')">
				<ng-md-icon icon="menu" size="24"></ng-md-icon>
		    </md-button>
		    <md-button class="md-icon-button" ng-if="hc.loginFactory.isLoggedIn == true" ng-click="hc.goToHome('left')">
				<ng-md-icon icon="home" size="24"></ng-md-icon>
		    </md-button>
		</div>
	    <div style="display: grid; text-align: center;">
			<label> {{hc.loginFactory.pageHeading}} </label>
			<p ng-if="hc.loginFactory.role == 'Company' " style="margin: 0;margin-top: 5px; font-size: 15px;">Vendor</p>
			<p ng-if="hc.loginFactory.role != 'Company' " style="margin: 0;margin-top: 5px; font-size: 15px;" > {{hc.loginFactory.role}} </p>
		</div>
		<div ng-if="hc.loginFactory.isLoggedIn == true">
			<md-menu>
				<md-button class="md-icon-button" ng-click="hc.openMenu($mdMenu, $event)">
					<ng-md-icon icon="account_circle" size="30"></ng-md-icon>
	          	</md-button>
	          	<md-menu-content width="2">
	        		<md-menu-item>
	          			<md-button class="md-primary" ng-click="hc.logout()"> 
	          				Log out
	          			</md-button>
	        		</md-menu-item>
	        	</md-menu-content>
			</md-menu>
			<div style="font-size:16px;text-align:center"> {{hc.loginFactory.userName}}</div>
		</div>
	</md-toolbar> 
	
	<!-- <div ng-view></div> -->
	<div ui-view="" class="fullScreen" style="overflow-y:scroll"></div>
</div>
 
<script src="resources/lib/js/angular.min.js"></script>
<script src="resources/lib/js/angular-ui-router.min.js" ></script>
<script src="resources/lib/js/angular-animate.min.js" ></script>
<script src="resources/lib/js/angular-aria.min.js" ></script>
<script src="resources/lib/js/angular-messages.min.js"></script>

<script src="resources/lib/js/angular-material.min.js" ></script> 
<script src="resources/lib/js/angular-material-icons.min.js"></script>
<script src="resources/lib/js/angular-toastr.tpls.js"></script>
<script src="resources/lib/js/ng-file-upload-shim.min.js"></script>
<script src="resources/lib/js/ng-file-upload.min.js"></script>
<script src="resources/lib/js/signature.js"></script>
<script src="resources/lib/js/signature_pad.min.js"></script>

<script>
	var app = angular
				.module('gmCarFixers',['toastr','ngMessages', 'ngMaterial', 'ngMdIcons', 'ui.router', 'login', 'utility', 'inquiry', 'tech_inquiry', 'driver', 'technician', 'workshop', 'towfixers_inquiry', 'temp_company', 'company', 'contactUs','dealer', 'ngFileUpload', 'signature']);

</script>
<script src="app/app.js"></script>
<script src="app/home/home.controller.js"></script>

<script src="app/utility/utility.module.js"></script>
<script src="app/utility/login/login.module.js"></script>
<script src="app/utility/login/login.service.js"></script>
<script src="app/utility/login/login.controller.js"></script>
<script src="app/utility/login/login.forgotPassword.controller.js"></script>
<script src="app/utility/login/login.factory.js"></script>

<script src="app/inquiry/inquiry.module.js"></script>
<script src="app/inquiry/inquiry.service.js"></script>
<script src="app/inquiry/inquiry.controller.js"></script>
<script src="app/inquiry/inquiry.addEdit.controller.js"></script>
<script src="app/inquiry/inquiry.uploadImages.controller.js"></script>
<script src="app/inquiry/inquiry.generate.controller.js"></script>

<script src="app/tech_inquiry/tech_inquiry.module.js"></script>
<script src="app/tech_inquiry/tech_inquiry.service.js"></script>
<script src="app/tech_inquiry/tech_inquiry.controller.js"></script>
<script src="app/tech_inquiry/tech_inquiry.addEdit.controller.js"></script>
<script src="app/tech_inquiry/tech_inquiry.uploadImages.controller.js"></script>
<script src="app/tech_inquiry/tech_inquiry.generate.controller.js"></script>

<script src="app/driver/driver.module.js"></script>
<script src="app/driver/driver.service.js"></script>
<script src="app/driver/driver.controller.js"></script>
<script src="app/driver/driver.addEdit.controller.js"></script>
<script src="app/driver/driver.uploadImages.controller.js"></script>

<script src="app/workshop/workshop.module.js"></script>
<script src="app/workshop/workshop.service.js"></script>
<script src="app/workshop/workshop.controller.js"></script>
<script src="app/workshop/workshop.addEdit.controller.js"></script>

<script src="app/towfixers_inquiry/towfixers_inquiry.module.js"></script>
<script src="app/towfixers_inquiry/towfixers_inquiry.service.js"></script>
<script src="app/towfixers_inquiry/towfixers_inquiry.controller.js"></script>
<script src="app/towfixers_inquiry/towfixers_inquiry.addEdit.controller.js"></script>

<script src="app/company/company.module.js"></script>
<script src="app/company/company.service.js"></script>
<script src="app/company/company.controller.js"></script>
<script src="app/company/company.addEdit.controller.js"></script>

<script src="app/technician/technician.module.js"></script>
<script src="app/technician/technician.service.js"></script>
<script src="app/technician/technician.controller.js"></script>
<script src="app/technician/technician.addEdit.controller.js"></script>

<script src="app/temp_company/temp_company.module.js"></script>
<script src="app/temp_company/temp_company.service.js"></script>
<script src="app/temp_company/temp_company.controller.js"></script>
<script src="app/temp_company/temp_company.addEdit.controller.js"></script>

<script src="app/dealer/dealer.module.js"></script>
<script src="app/dealer/dealer.service.js"></script>
<script src="app/dealer/dealer.controller.js"></script>
<script src="app/dealer/dealer.addEdit.controller.js"></script>

<script src="app/contactUs/contactUs.module.js"></script>
<script src="app/contactUs/contactUs.service.js"></script>
<script src="app/contactUs/contactUs.controller.js"></script>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
-->
</body>
</html>
