<div ng-controller="temp_company.addEdit.controller as aecc">
    <div ng-if="!aecc.isLoading">
        <md-content layout-padding layout-align="center center">
            <div ng-if="aecc.mode === 'add'">
                <h2> Add temp_company</h2>
            </div>
            <div ng-if="aecc.mode === 'edit'">
                <h2> Edit temp_company</h2>
            </div>
            <form name="addTemp_companyForm" novalidate ng-submit="aecc.mode === 'add' ? addTemp_companyForm.$valid && aecc.add() : addTemp_companyForm.$valid && aecc.edit()">
                <div layout="column" layout-gt-sm="row">
                    <div flex-gt-sm="50">
                        <md-input-container class="md-block">
                            <input required name="temp_companyName" ng-model="aecc.addEditTemp_company.temp_companyName" placeholder="Temp_company Name">
                            <div ng-messages="addTemp_companyForm.temp_companyName.$error">
                                <div ng-message="required">This is required</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div flex-gt-sm="50" ng-if="aecc.mode === 'add'">
                        <md-input-container class="md-block">
                            <input required name="userName" ng-pattern="/^[a-z0-9._]+$/" ng-model="aecc.addEditTemp_company.userName" placeholder="User ID">
                            <div ng-messages="addTemp_companyForm.userName.$error" role="alert">
                                <div ng-message="required">This is required</div>
                                <div ng-message="pattern">Username can contain only alphabets, numbers, dot (.) and underscore (_)</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
                <div layout="column" layout-gt-sm="row" ng-if="aecc.mode === 'add'">
                    <div flex-gt-sm="50">
                        <md-input-container class="md-block" ng-if="aecc.mode === 'add'">
                            <input required name="password" type="password" ng-model="aecc.addEditTemp_company.password" placeholder="Password">
                            <div ng-messages="addTemp_companyForm.password.$error" role="alert">
                                <div ng-message="required">This is required</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div flex-gt-sm="50">
                        <md-input-container class="md-block" ng-if="aecc.mode === 'add'">
                            <input required type="password" ng-model="aecc.addEditTemp_company.verifyPassword" name="verifyPassword" ng-pattern="aecc.addEditTemp_company.password"
                                placeholder="Confirm Password">
                            <div ng-messages="addTemp_companyForm.verifyPassword.$error" role="alert">
                                <div ng-message="required">This is required</div>
                                <div ng-message="pattern">Passwords don't match</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
                <div layout="column" layout-gt-sm="row">
                    <div flex-gt-sm="50">
                        <md-input-container class="md-block">
                            <md-select required name="temp_companyType" ng-model="aecc.addEditTemp_company.temp_companyType">
                                <md-option ng-repeat="type in aecc.types" ng-value="type" placeholder="Temp_company Type">
                                    {{type}}
                                </md-option>
                            </md-select>
                            <div ng-messages="addTemp_companyForm.temp_companyType.$error" role="alert">
                                <div ng-message="required">This is required</div>
                            </div>

                        </md-input-container>
                    </div>
                    <div flex-gt-sm="50">
                        <md-input-container class="md-block">
                            <textarea ng-model="aecc.addEditTemp_company.address" md-maxlength="1000" rows="1" md-select-on-focus name="address" placeholder="Address"></textarea>
                            <div ng-messages="addTemp_companyForm.address.$error" role="alert">
                                <div ng-message="maxlength">Address should be less than 1,000 characters</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
                <div layout="column" layout-gt-sm="row">
                    <div flex-gt-sm="50">
                        <md-input-container class="md-block">
                            <input required maxlength="100" type="email" ng-pattern="/^[a-z0-9]+[a-z0-9._\-]*@[a-z0-9._\-]+\.[a-z.]{2,5}$/" name="email" ng-model="aecc.addEditTemp_company.email"
                                placeholder="E-mail" />
                            <div ng-messages="addTemp_companyForm.email.$error" role="alert">
                                <div ng-message="required">This is required</div>
                                <div ng-message="pattern">Please enter a valid email ID</div>
                                <div ng-message="maxlength">Your email must be less than 100 characters</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div flex-gt-sm="50">
                        <md-input-container class="md-block">
                            <input required minlength="10" maxlength="10" type="number" name="mobileNumber1" ng-model="aecc.addEditTemp_company.mobileNumber1"
                                placeholder="Mobile Number" />
                            <div ng-messages="addTemp_companyForm.mobileNumber1.$error" role="alert">
                                <div ng-message="required">This is required</div>
                                <div ng-message-exp="['minlength','maxlength']">Please enter a 10 digit mobile number</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
                <div layout="column" layout-gt-sm="row">
                    <div flex-gt-sm="50">
                        <md-input-container class="md-block">
                            <input minlength="10" maxlength="10" type="number" name="mobileNumber2" ng-model="aecc.addEditTemp_company.mobileNumber2" placeholder="Mobile Number 2"
                            />
                            <div ng-messages="addTemp_companyForm.mobileNumber2.$error" role="alert">
                                <div ng-message-exp="['minlength','maxlength']">Please enter a 10 digit mobile number</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div flex-gt-sm="50">
                        <md-input-container class="md-block">
                            <input minlength="10" maxlength="10" type="number" name="mobileNumber3" ng-model="aecc.addEditTemp_company.mobileNumber3" placeholder="Mobile Number 3"
                            />
                            <div ng-messages="addTemp_companyForm.mobileNumber3.$error" role="alert">
                                <div ng-message-exp="['minlength','maxlength']">Please enter a 10 digit mobile number</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
                <div layout="column" layout-gt-sm="row">
                    <div flex-gt-sm="50">
                        <md-input-container class="md-block">
                            <input minlength="10" maxlength="10" type="number" name="mobileNumber4" ng-model="aecc.addEditTemp_company.mobileNumber4" placeholder="Mobile Number 4"
                            />
                            <div ng-messages="addTemp_companyForm.mobileNumber4.$error" role="alert">
                                <div ng-message-exp="['minlength','maxlength']">Please enter a 10 digit mobile number</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div flex-gt-sm="50">
                        <md-input-container class="md-block">
                            <input minlength="10" maxlength="10" type="number" name="mobileNumber5" ng-model="aecc.addEditTemp_company.mobileNumber5" placeholder="Mobile Number 5"
                            />
                            <div ng-messages="addTemp_companyForm.mobileNumber3.$error" role="alert">
                                <div ng-message-exp="['minlength','maxlength']">Please enter a 10 digit mobile number</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
                <div layout="column" layout-gt-sm="row">
                    <div flex-gt-sm="50">
                        <md-input-container class="md-block">
                            <textarea ng-model="aecc.addEditTemp_company.tnc" md-maxlength="10000" rows="1" md-select-on-focus name="tnc" placeholder="Terms &amp; Conditions"></textarea>
                            <div ng-messages="addTemp_companyForm.tnc.$error" role="alert">
                                <div ng-message="maxlength">T&C should be less than 10,000 characters</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
                <div layout="column" layout-gt-sm="row" layout-align="center center">
                    <md-button type="submit" class="md-raised md-primary">Save</md-button>
                </div>
            </form>
        </md-content>
    </div>
    <div layout="column" layout-align="center center" ng-if="aecc.isLoading">
        <img src="resources/img/spinner.gif" height="150px"></img>
    </div>
</div>
