<div ng-controller="temp_company.controller as tcc">
	<div class="fullScreen" ng-if="!tcc.isLoading">
		<md-content class="fullScreen md-padding" layout="row">
			<div flex layout="column">
				<div ng-repeat="temp_company in tcc.temp_companies"> 
					<md-card layout="row">
						<md-card-title style="padding:10px;padding-right:0px;padding-bottom:10px">
							<md-card-title-text>
								<!-- <div class="md-headline" ng-click="tcc.move(temp_company.temp_companyId)" > -->
									 <div class="md-headline">
										<label ng-bind="temp_company.temp_companyName"></label>
									</div>
								<!-- </div> -->
								<span class="md-subhead" style="padding-top:0px">
									<div ng-if="temp_company.mobileNumberHref">
										<ng-md-icon icon="call" ng-attr-style="color: grey" size="20"></ng-md-icon>
										<a ng-href="{{temp_company.mobileNumberHref}}">{{temp_company.mobileNumber1}} </a>
									</div>
									<div ng-show="temp_company.email && temp_company.email !== ''" style="padding-top:5px">
										<ng-md-icon icon="mail" ng-attr-style="color: grey" size="20"></ng-md-icon>
										<label ng-bind="temp_company.email"></label>
									</div>
								</span>
						    <md-select placeholder="Assign Vendor" ng-model="user" md-on-open="loadUsers()" style="min-width: 200px;">
						      <md-option ng-value="user" ng-click="tcc.delete(temp_company.temp_companyId,$index,$event)" ng-repeat="user in users">{{user.name}}</md-option>
						    </md-select>
						<div style="display: flex; justify-content: center;" >
							<!-- <input name="select_company" placeholder="Select Company"> -->
							<!-- <md-button style="width: 100%" ng-click="tcc.delete(temp_company.temp_companyId)" class="md-raised md-primary">Assign</md-button> -->

							<md-button style="width: 100%" ng-click="tcc.move(temp_company.temp_companyId)" class="md-raised md-primary">Accept</md-button>
						</div>
							</md-card-title-text>
						</md-card-title>
						<md-card-actions layout="row" layout-align="end start" style="margin-left: 0px; margin-top: 0px">
							<!-- <md-button class="md-icon-button" ng-click="tcc.delete(temp_company.temp_companyId)" style="margin:0px">
								<ng-md-icon icon="delete" ng-attr-style="color: grey" size="24"></ng-md-icon>
	    					</md-button> -->
						</md-card-actions>
					</md-card>
				</div>
			</div>
		</md-content>
		
		<!-- <md-button class="md-fab md-fab-bottom-right" style="position: fixed;font-size: 36px" ng-click="tcc.move()">
			<div> + </div>
		</md-button> --> 
	</div>
	<div class="fullScreen" layout="column" layout-align="center center" ng-if="tcc.isLoading">
		<img src="resources/img/spinner.gif" height="150px"></img>
	</div>
</div> 



