<style type="text/css">
	.container{
	width: 100%; 
	height: 300px;
}

#searchResult{
 list-style: none;
 padding: 0px;
 width: 250px;
 position: absolute;
 margin: 0;
}

#searchResult li{
 background: lavender;
 padding: 4px;
 margin-bottom: 1px;
}

#searchResult li:nth-child(even){
 background: cadetblue;
 color: white;
}

#searchResult li:hover{
 cursor: pointer;
}

input[type=text]{
 padding: 5px;
 width: 250px;
 letter-spacing: 1px;
}
</style>
<div ng-controller="temp_company.controller as tcc">
	<div class="fullScreen" ng-if="!tcc.isLoading">
		<md-content class="fullScreen md-padding" layout="row">
			<div flex layout="column">
				<div ng-repeat="temp_company in tcc.temp_companies"> 
					<md-card layout="row">
						<md-card-title style="padding:10px;padding-right:0px;padding-bottom:10px">
							<md-card-title-text>
								<!-- <div class="md-headline" ng-click="tcc.move(temp_company.temp_companyId)" > -->
									 <div class="md-headline">
										<label ng-bind="temp_company.temp_companyName"></label>
									</div>
								<!-- </div> -->
								<span class="md-subhead" style="padding-top:0px">
									<div ng-if="temp_company.mobileNumberHref">
										<ng-md-icon icon="call" ng-attr-style="color: grey" size="20"></ng-md-icon>
										<a ng-href="{{temp_company.mobileNumberHref}}">{{temp_company.mobileNumber1}} </a>
									</div>
									<div ng-show="temp_company.email && temp_company.email !== ''" style="padding-top:5px">
										<ng-md-icon icon="mail" ng-attr-style="color: grey" size="20"></ng-md-icon>
										<label ng-bind="temp_company.email"></label>
									</div>
								</span>
						<div style="display: flex; justify-content: center;" >
							<!-- <input name="select_company" placeholder="Select Company"> -->
							<!-- <md-button style="width: 100%" ng-click="tcc.delete(temp_company.temp_companyId)" class="md-raised md-primary">Assign</md-button> -->
						<input type='text' ng-keyup='fetchUsers(temp_company.temp_companyId)' ng-change='fetchUsers($event,$index);' ng-model='temp_company.searchText' placeholder='Enter text'><br>
						<ul id='searchResult' >
							<li ng-click='setValue(temp_company.temp_companyId,$index,$event)' ng-repeat="result in searchResult" >
								{{ result.name }}
							</li>
						</ul>  
							<md-button style="width: 100%" ng-click="tcc.move(temp_company.temp_companyId)" class="md-raised md-primary">Accept</md-button>
						</div>
							</md-card-title-text>
						</md-card-title>
						<md-card-actions layout="row" layout-align="end start" style="margin-left: 0px; margin-top: 0px">
							<!-- <md-button class="md-icon-button" ng-click="tcc.delete(temp_company.temp_companyId)" style="margin:0px">
								<ng-md-icon icon="delete" ng-attr-style="color: grey" size="24"></ng-md-icon>
	    					</md-button> -->
						</md-card-actions>
					</md-card>
				</div>
			</div>
		</md-content>
		
		<!-- <md-button class="md-fab md-fab-bottom-right" style="position: fixed;font-size: 36px" ng-click="tcc.move()">
			<div> + </div>
		</md-button> --> 
	</div>
	<div class="fullScreen" layout="column" layout-align="center center" ng-if="tcc.isLoading">
		<img src="resources/img/spinner.gif" height="150px"></img>
	</div>
</div> 



