<div ng-controller="inquiry.addEdit.controller as aeic">
	<md-content layout-padding layout-align="center center">
		<div ng-if="aeic.mode === 'add'">
			<h2>Add Inquiry</h2>
		</div>
		<div ng-if="aeic.mode === 'edit'">
			<h2>Edit Inquiry</h2>
		</div>
		<form name="addInquiryForm" novalidate
			ng-submit="aeic.mode === 'add' ? addInquiryForm.$valid && aeic.add() : addInquiryForm.$valid && aeic.edit()">
			<div layout="row" layout-child="start center" layout-gt-sm="row" ng-if="hc.loginFactory.role === 'Company'">
				<md-input-container flex="50" class="md-block" style="padding-top:10px">
					<md-checkbox ng-model="aeic.addEditInquiry.isComplete" aria-label="Checkbox 2" ng-true-value="'1'" ng-false-value="'0'">
					  Complete
	 				</md-checkbox>
 				</md-input-container>
 				<md-input-container flex="50" class="md-block"> 
 					<input name="amount" type="number"
						ng-model="aeic.addEditInquiry.amount"
						placeholder="Amount" />
				</md-input-container>
			</div>
			<div layout="column" layout-gt-sm="row">
                 <div flex-gt-sm="50">
                     <md-input-container class="md-block">
                         <textarea ng-model="aeic.addEditInquiry.driverComments" md-maxlength="500" rows="1" md-select-on-focus name="driverComments" placeholder="Comments to the driver"></textarea>
                         <div ng-messages="addInquiryForm.driverComments.$error" role="alert">
                             <div ng-message="maxlength">Driver Comments should be less than 500 characters</div>
                         </div>
                     </md-input-container>
                 </div>
            </div>
            <md-select ng-if="hc.loginFactory.role === 'Dealer' && aeic.addEditInquiry.companyId != undefined " placeholder={{aeic.addEditInquiry.companyName}} ng-model="aeic.addEditInquiry.company_id" name="company_id" md-on-open="loadUsers()" style="min-width: 200px;">
		      <md-option ng-value="user.id" ng-click="aeic.setValue(temp_company.temp_companyId,$index,$event)" ng-repeat="user in users">{{user.name}}</md-option>
		    </md-select>

		    <md-select ng-if="hc.loginFactory.role === 'Dealer' && aeic.addEditInquiry.companyId == undefined " placeholder="Select Vendor" ng-model="aeic.addEditInquiry.company_id" name="company_id" md-on-open="loadUsers()" style="min-width: 200px;">
		      <md-option ng-value="user.id" ng-click="aeic.setValue(temp_company.temp_companyId,$index,$event)" ng-repeat="user in users">{{user.name}}</md-option>
		    </md-select>
			<div layout="column" layout-gt-sm="row">
				<div ng-if="hc.loginFactory.role === 'Company' " flex-gt-sm="50">
					<md-input-container class="md-block"> <md-select
						placeholder="Driver Assigned"
						ng-model="aeic.addEditInquiry.driverId"> <md-option
						ng-repeat="driver in aeic.drivers" ng-value="driver.driverId">
					{{driver.driverName}} </md-option> </md-select> </md-input-container>
				</div>
				<div ng-if="hc.loginFactory.role === 'Company' " flex-gt-sm="50" style="margin-top:10px">
					<md-input-container class="md-block"> <md-select
						placeholder="Workshop" ng-model="aeic.addEditInquiry.workshopId">
					<md-option ng-repeat="workshop in aeic.workshops"
						ng-value="workshop.workshopId">
					{{workshop.workshopName}} </md-option> </md-select> </md-input-container>
					
					<img ng-if="aeic.mailing1" src="resources/img/refresh.gif" height:"48px" width="48px" style="padding:0;margin:0;position:relative;float:right;top:-90px"></img>
					
					
					<md-button ng-if="!aeic.mailing1" class="md-icon-button" ng-click="aeic.mail('workshop')" style="padding:0;margin:0;position:relative;float:right;top:-90px">
						<ng-md-icon icon="mail" ng-attr-style="color: grey" size="24">
						</ng-md-icon>
					</md-button>
					
				</div>
			</div>
			
			<div layout="column" layout-gt-sm="row">
				<div flex-gt-sm="50">
					<md-input-container class="md-block"> <input
						name="customerName"
						ng-model="aeic.addEditInquiry.customerName"
						placeholder="Customer Name">
					</md-input-container>
				</div>
				<div flex-gt-sm="50">
					<md-input-container class="md-block"> <input
						type="email" ng-pattern="/^[a-z0-9]+[a-z0-9._\-]*@[a-z0-9._\-]+\.[a-z.]{2,5}$/"
						maxlength="100" name="customerEmail"
						ng-model="aeic.addEditInquiry.customerEmail"
						placeholder="Customer E-mail">
						
					<img ng-if="aeic.mailing2" src="resources/img/refresh.gif" height:"48px" width="48px" style="padding:0;margin:0;position:relative;float:right;top:-55px"></img>
					
					<md-button ng-if="!aeic.mailing2" class="md-icon-button" ng-click="aeic.mail('customer')" style="padding:0;margin:0;position:relative;float:right;top:-55px">
						<ng-md-icon icon="mail" ng-attr-style="color: grey" size="24">
						</ng-md-icon>
					</md-button>
					
					<div ng-messages="addInquiryForm.customerEmail.$error" role="alert">
						<div ng-message="pattern">Please enter a valid email ID</div>
						<div ng-message="maxlength">Your email must be less than 100
							characters</div>
					</div>
					</md-input-container>
				</div>
			</div>
			<div layout="column" layout-gt-sm="row">
				<div flex-gt-sm="50">
					<md-input-container class="md-block"> <input
						minlength="10" maxlength="10" type="number"
						name="customerMobile" ng-model="aeic.addEditInquiry.customerMobile"
						placeholder="Customer Mobile">
						
					<md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="aeic.call('customer')" style="padding:0;margin:0;position:relative;float:right;top:-55px">
						<ng-md-icon icon="call" ng-attr-style="color: grey" size="24">
						</ng-md-icon>
					</md-button>
					<div ng-messages="addInquiryForm.customerMobile.$error">
						<div ng-message-exp="['minlength','maxlength']">Please enter
							a 10 digit mobile number</div>
					</div>
					</md-input-container>
				</div>
				<div flex-gt-sm="50">
					<md-input-container class="md-block"> <input
						minlength="10" maxlength="10" type="number" name="custDriverMobile"
						ng-model="aeic.addEditInquiry.custDriverMobile"
						placeholder="Customer's Driver / Manager Mobile">
					
					<md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="aeic.call('customerDriver')" style="padding:0;margin:0;position:relative;float:right;top:-55px">
						<ng-md-icon icon="call" ng-attr-style="color: grey" size="24">
						</ng-md-icon>
					</md-button>
					
					<div ng-messages="addInquiryForm.custDriverMobile.$error">
						<div ng-message-exp="['minlength','maxlength']">Please enter
							a 10 digit mobile number</div>
					</div>
					</md-input-container>
				</div>
			</div>
	
	
			<div layout="column" layout-gt-sm="row">
				<div flex-gt-sm="50">
					<md-input-container class="md-block"> <input
						minlength="10" maxlength="10" name="caseDate"
						ng-model="aeic.addEditInquiry.caseDate"
						placeholder="Case Date (DD/MM/YYYY)"
						ng-pattern="/^[0-9][0-9]/[0-9][0-9]/[0-9][0-9][0-9][0-9]$/" />
					<div ng-messages="addInquiryForm.caseDate.$error" role="alert">
						<div ng-message="pattern">Please enter a valid case date</div>
					</div>
					</md-input-container>
				</div>
				<div flex-gt-sm="50">
					<md-input-container class="md-block"> <md-select
						placeholder="Case Type" name="caseType"
						ng-model="aeic.addEditInquiry.caseType"> <md-option
						ng-repeat="type in aeic.types" ng-value="type"
						placeholder="Case Type"> {{type}} </md-option> </md-select> </md-input-container>
				</div>
			</div>
			<div layout="column" layout-gt-sm="row">
				<Label> Driver Arrived at:</Label>
				<div layout="row" layout-child="start center">
					<div flex="25">
						<md-input-container class="md-block"> 
							<md-select name="arriveHour" ng-model="aeic.addEditInquiry.driverArriveHour" placeholder="Hour">
								<md-option ng-repeat="hour in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23]" ng-value="hour"> {{hour}} </md-option>
							</md-select>
						</md-input-container>
					</div>
					<div flex="25">
						<md-input-container class="md-block"> 
							<md-select name="arriveMin" ng-model="aeic.addEditInquiry.driverArriveMin" placeholder="Min">
								<md-option ng-repeat="min in [0,5,10,15,20,25,30,35,40,45,50,55]" ng-value="min"> {{min}} </md-option>
							</md-select>
						</md-input-container>
					</div>
					<div>
						<md-button class="md-raised md-primary" ng-click="aeic.assignCurrentTime()"> Current Time</md-button>
					</div>
				</div>
			</div>

			<div layout="column" layout-gt-sm="row">
				<div flex-gt-sm="50">
					<md-input-container class="md-block"> <input
						name="fileNo" ng-model="aeic.addEditInquiry.fileNo"
						placeholder="File Number" /> </md-input-container>
				</div>
				<div flex-gt-sm="50">
					<md-input-container class="md-block"> <input
						name="caseReference" ng-model="aeic.addEditInquiry.caseReference"
						placeholder="Case referenced by"> </md-input-container>
				</div>
			</div>
			<div layout="column" layout-gt-sm="row">
				<div flex-gt-sm="50">
					<md-input-container class="md-block"> <input
						name="make" ng-model="aeic.addEditInquiry.make" placeholder="Make">
					</md-input-container>
				</div>
				<div flex-gt-sm="50">
					<md-input-container class="md-block"> <input
						name="model" ng-model="aeic.addEditInquiry.model"
						placeholder="Model"> </md-input-container>
				</div>
			</div>
			<div layout="column" layout-gt-sm="row">
				<div flex-gt-sm="50">
					<md-input-container class="md-block"> <input
						name="kmsReading" ng-model="aeic.addEditInquiry.kmsReading"
						max="999999" type="number" placeholder="Kms Reading">
					<div ng-messages="addInquiryForm.kmsReading.$error" role="alert">
						<div ng-message="max">Please enter a valid KMs reading</div>
					</div>
					</md-input-container>
				</div>
				<div flex-gt-sm="50">
					<md-input-container class="md-block"> <input
						name="carRegNo" ng-model="aeic.addEditInquiry.carRegNo"
						placeholder="Car reg no e.g:MH-01-AB-1234"
						ng-pattern="/^[A-Z][A-Z]-[0-9][0-9]-[A-Z][A-Z]-[0-9][0-9][0-9][0-9]$/" />
					<div ng-messages="addInquiryForm.carRegNo.$error" role="alert">
						<div ng-message="pattern">Please enter a valid car
							registration Number</div>
					</div>
					</md-input-container>
				</div>
			</div>
			<div layout="column" layout-gt-sm="row">
				<div flex-gt-sm="50">
					<md-input-container class="md-block"> <input
						name="make" ng-model="aeic.addEditInquiry.pickup" placeholder="Pickup Location">
					</md-input-container>
				</div>
				<div flex-gt-sm="50">
					<md-input-container class="md-block"> <input
						name="model" ng-model="aeic.addEditInquiry.drop"
						placeholder="Drop Location"> </md-input-container>
				</div>
			</div>

			<div layout="column" layout-gt-sm="row" layout-align="center center">
				<md-button type="submit" class="md-raised md-primary">Save</md-button>
			</div>
		</form>
	</md-content>
	<div class="fullScreen" layout="column" layout-align="center center"
		ng-if="aeic.isLoading">
		<img src="resources/img/spinner.gif" height="150px"></img>
	</div>
</div>
