<div ng-controller="inquiry.generate.controller as igc">
	<div layout="row" layout-padding>
		<ng-md-icon icon="get_app" ng-attr-style="color: grey" size="36" ng-click="igc.download()"></ng-md-icon>
	</div>
	<div id="invoice" layout="column" layout-padding>
		<div layout="row" layout-align="space-between end">
			<div>
				<label> Bill No. - </label>
				<span class="underline marl5" >
					<label ng-if="igc.inquiry.billNo" ng-bind="igc.inquiry.billNo"></label>
					<label ng-if="!igc.inquiry.billNo && igc.inquiry.billNo !== ''">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
				</span>
			</div>
			<div>
				<label> File No. - </label>
				<label class="underline marl5" ng-bind="igc.inquiry.fileNo"></label>
			</div>
		</div>
		<div layout="row" layout-align="start end">
			<label> Customer Name - </label>
			<div flex class="underline marl5" >
				<label ng-bind="igc.inquiry.customerName"></label>
			</div>
		</div>
		<div layout="row" layout-align="start end">
			<label> Address - </label>
			<div flex class="underline marl5" >
				<label ng-bind="igc.inquiry.address"></label>
			</div>
		</div>
		<div layout="row" layout-align="space-between end">
			<div layout-xs="column" layout="row">
				<label class="marr5"> Phone - </label>
				<div>
					<label class="underline" ng-bind="igc.inquiry.customerMobile"></label>
				</div>
			</div>
			<div layout-xs="column" layout="row">
				<label class="marr5"> Date - </label>
				<div>
					<label class="underline marl5" ng-bind="igc.inquiry.caseDate"></label>
				</div>
			</div>
		</div>
		<div layout="row" layout-align="space-between end">
			<div layout-xs="column" layout="row">
				<label class="marr5"> Car Reg No. - </label>
				<div>
					<label class="underline" ng-bind="igc.inquiry.carRegNo"></label>
				</div>
			</div>
			<div layout-xs="column" layout="row">
				<label class="marr5"> Car Model - </label>
				<div>
					<label class="underline">{{igc.inquiry.make}} &nbsp; {{igc.inquiry.model}}</label>
				</div>
			</div>
		</div>
		<div layout="row" layout-align="space-between end">
			<div layout-xs="column" layout="row">
				<label class="marr5"> Pickup Location - </label>
				<div>
					<label class="underline" ng-bind="igc.inquiry.pickup"></label>
				</div>
			</div>
			<div layout-xs="column" layout="row">
				<label class="marr5"> Pickup Time - </label>
				<div>
					<label class="underline" ng-bind="igc.inquiry.pickupTime"></label>
				</div>
			</div>
		</div>
		<div layout="row" layout-align="space-between end">
			<div layout-xs="column" layout="row">
				<label class="marr5"> Drop Location - </label>
				<div>
					<label class="underline" ng-bind="igc.inquiry.drop"></label>
				</div>
			</div>
			<div layout-xs="column" layout="row">
				<label class="marr5"> Drop Time - </label>
				<div>
					<label class="underline" ng-bind="igc.inquiry.dropTime"></label>
				</div>
			</div>
		</div>
		<div layout="row" layout-align="space-between end">
			<div layout-xs="column" layout="row">
				<label class="marr5"> Car Reg No. - </label>
				<div>
					<label class="underline" ng-bind="igc.inquiry.carRegNo"></label>
				</div>
			</div>
			<div layout-xs="column" layout="row">
				<label class="marr5"> Car Model. - </label>
				<label class="underline">{{igc.inquiry.make}} &nbsp; {{igc.inquiry.model}}</label>
			</div>
		</div>
		
		<div layout="row" layout-child="center center" class="invoiceTableRow">
			<div class="invoiceTableLeftCell" flex="75" style="text-align:center">
				<label> Description</label>
			</div>
			<div class="invoiceTableRightCell" flex="25" style="text-align:center">
				<label> Charges </label>
			</div>
		</div>
		
		<div layout="row" layout-child="start end" class="invoiceTableRow">
			<div class="invoiceTableLeftCell" flex="75" layout="column" style="padding-bottom:10px">
				<div flex class="invoiceTableRow underline" style="border-top:0px; border-left:0px; border-right:0px"></div>
				<div flex class="invoiceTableRow underline" style="border-top:0px; border-left:0px; border-right:0px"></div>
				<div flex class="invoiceTableRow underline" style="border-top:0px; border-left:0px; border-right:0px"></div>
				<div flex class="invoiceTableRow underline" style="border-top:0px; border-left:0px; border-right:0px"></div>
			</div>
			<div class="invoiceTableRightCell" flex="25" layout="column">
				<div class="invoiceTableRow" style="border: 0px"></div>
				<div class="invoiceTableRow" style="border: 0px"></div>
				<div class="invoiceTableRow" style="border: 0px"></div>
				<div class="invoiceTableRow" style="border: 0px"></div>
			</div>
		</div>
		
		<div layout="row" layout-child="center center" class="invoiceTableRow">
			<div class="invoiceTableLeftCell" flex="75" layout="row" layout-align="end center">
				<label> Toll Charges </label>
			</div>
			<div class="invoiceTableRightCell" flex="25" layout="row" layout-align="end center">
			</div>
		</div>
		
		<div layout="row" layout-child="center center" class="invoiceTableRow">
			<div class="invoiceTableLeftCell" flex="75" layout="row" layout-align="end center">
				<label> Waiting Charges </label>
			</div>
			<div class="invoiceTableRightCell" flex="25" layout="row" layout-align="end center">
			</div>
		</div>
		
		<div layout="row" layout-child="center center" class="invoiceTableRow">
			<div class="invoiceTableLeftCell" flex="75" layout="row" layout-align="end center">
				<label> G.S.T </label>
			</div>
			<div class="invoiceTableRightCell" flex="25" layout="row" layout-align="end center">
			</div>
		</div>
		
		<div layout="row" layout-child="center center" class="invoiceTableRow">
			<div class="invoiceTableLeftCell" flex="75" layout="row" layout-align="end center">
				<label> Extra </label>
			</div>
			<div class="invoiceTableRightCell" flex="25" layout="row" layout-align="end center">
			</div>
		</div>
		<div layout="row" layout-child="center center" class="invoiceTableRow">
			<div layout="row" class="invoiceTableLeftCell" flex="75">
				<div flex="75" layout="column">
					<div style="font-size:12px">Amount in words</div>
					<div class="invoiceTableRow underline" style="border-top:0px; border-left:0px; border-right:0px"></div>
					<div class="invoiceTableRow underline" style="border-top:0px; border-left:0px; border-right:0px"></div>
				</div>
				<div flex="25" layout="row" layout-align="end center">
					Total
				</div>
			</div>
			<div class="invoiceTableRightCell" flex="25">
			</div>
		</div>
	</div>
</div>