<div ng-controller="inquiry.controller as ic">
	<div class="fullScreen" ng-if="!ic.isLoading">
		<md-content class="fullScreen md-padding" layout="row">
			<div ng-if="ic.inquiries <= 0" layout="row" layout-align="center center">
				<label ng-if="hc.loginFactory.role !== 'Driver'"> There are no inquiries. Please click on the '+' button to create an inquiry. </label>
			</div>
			<div ng-if="ic.inquiries <= 0" layout="row" layout-align="center center" style="text-align:center">
				<label ng-if="hc.loginFactory.role === 'Driver'"> There are no inquiries. </label>
			</div>
			<div flex layout="column">
					<div ng-if="hc.loginFactory.role !== 'Driver' && ic.inquiries.length > 0" layout="row" layout-padding layout-align="end center" >
						<img ng-if="ic.exporting" src="resources/img/refresh.gif" height="48px" width="48px"></img>
						<div ng-click="ic.export()">
							<label> Export </label>
							<ng-md-icon ng-if="!ic.exporting" icon="get_app" ng-attr-style="color: grey" size="36"></ng-md-icon>
						</div>
				</div>
				<div ng-repeat="inquiry in ic.inquiries"> 
					<md-card layout="row">
						<md-card-title ng-click="ic.move(inquiry.inquiryId)" style="padding:10px">
							<md-card-title-text>
								<span class="md-headline">
									<label ng-if="inquiry.customerName !== ''">{{inquiry.customerName}}</label>
									<label ng-if="inquiry.customerName === ''">New Inquiry</label>
								</span>
								<span class="md-subhead" style="padding-top:0px">
									<ng-md-icon ng-if="ic.loginFactory.role === 'Company' " icon="drive_eta" ng-attr-style="color: grey" size="24"></ng-md-icon>
									<ng-md-icon ng-if="ic.loginFactory.role === 'Dealer' " icon="account_balance" ng-attr-style="color: grey" size="24"></ng-md-icon>
									
										<label ng-if="inquiry.driverName && ic.loginFactory.role === 'Company' ">{{inquiry.driverName}}</label>
										<label ng-if="!inquiry.driverName && ic.loginFactory.role === 'Company' ">To be Assigned.</label>
										
										<label ng-if="inquiry.companyName && ic.loginFactory.role === 'Dealer' ">{{inquiry.companyName}}</label>
										<label ng-if="!inquiry.companyName && ic.loginFactory.role === 'Dealer' ">To be Assigned.</label>
								</span>
								<span ng-if="ic.loginFactory.role !== 'Dealer'" class="md-subhead" style="padding-top:0px">
									<ng-md-icon icon="account_balance" ng-attr-style="color: grey" size="24"></ng-md-icon>
									<label ng-if="inquiry.workshopName">{{inquiry.workshopName}}</label>
									<label ng-if="!inquiry.workshopName">To be Assigned.</label>
								</span>
							</md-card-title-text>
						</md-card-title>
						<md-card-actions layout="column" layout-align="center center">
							<div flex>
			    				<md-menu>
							      <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="ic.openMenu($mdMenu, $event)" style="padding:0;margin:0">
							        <ng-md-icon icon="call" ng-attr-style="color: grey" size="28"></ng-md-icon>
							      </md-button>
							      <md-menu-content width="2">
							        <md-menu-item>
							            <a ng-href="{{inquiry.customerNumberHref}}"> Customer </a>
							        </md-menu-item>
							        <md-menu-item>
							            <a ng-href="{{inquiry.custDriverMobileHref}}"> Customer Driver</a>
							        </md-menu-item>
							        <md-menu-item ng-if="inquiry.driverName">
							            <a ng-href="{{inquiry.driverNumberHref}}"> Company Driver </a>
							        </md-menu-item>
							        <md-menu-item ng-if="inquiry.workshopName">
							            <a ng-href="{{inquiry.workshopNumberHref}}"> Workshop </a>
							        </md-menu-item>
							      </md-menu-content>
							    </md-menu>
		    				</div>
		    				<div flex>
			    				<md-button class="md-icon-button" ng-click="ic.upload(inquiry.inquiryId)" style="padding:0;margin:0">
									<img src="resources/img/sign.svg" height="32" width="32"></img>
									<!-- <ng-md-icon icon="border_color" ng-attr-style="color: grey" size="24"></ng-md-icon> -->
			    				</md-button>
		    				</div>
		    				<!-- <div flex ng-if="inquiry.custSignPic !== '' && inquiry.workshopSignPic !== ''">
		    					<md-button class="md-icon-button" ng-click="ic.generate(inquiry)" style="padding:0;margin:0">
									<ng-md-icon icon="receipt" ng-attr-style="color: grey" size="24"></ng-md-icon>
			    				</md-button>
		    				</div> -->
						</md-card-actions>
					</md-card>
				</div>
			</div>
		</md-content>
		
		<!-- <md-button class="md-fab md-fab-bottom-right" docs-scroll-class="scrolling" style="position: fixed; bottom: 100px" ng-click="ic.move()">
			<ng-md-icon icon="archive" ng-attr-style="color: white" size="24"></ng-md-icon> 
		</md-button>  -->
		<md-button class="md-fab md-fab-bottom-right" docs-scroll-class="scrolling" style="position: fixed;font-size: 36px" ng-click="ic.move()" 
				ng-show="ic.loginFactory.role === 'Company' || ic.loginFactory.role === 'Dealer'">
			<div> + </div>
		</md-button> 
	</div>
	<div class="fullScreen" layout="column" layout-align="center center" ng-if="ic.isLoading">
		<img src="resources/img/spinner.gif" height="150px"></img>
	</div>
</div>