<div ng-controller="inquiry.uploadImages.controller as iuic">
	<md-content layout-padding layout-align="center center">
		<div>
			<h2>Upload Inquiry Details</h2>	
		</div>
		<form name="uploadInquiryForm" enctype="multipart/form-data">
			<div layout="column">
				<h4> Car dents/scratches:</hr>
				<div layout="column" layout-padding layout-align="center end" ng-show="iuic.inquiry.carInvPic !== ''" style="padding:0px;padding-top:10px"> 
					<div class="wrapper">
						<img id="car_view_img" src="resources/img/car_view_3.png" width=330 height=220 style="margin-left:233px;margin-top:-9px"/>
						<img class="signature-pad" ng-src="{{iuic.inquiry.carInvPic}}" id="carInv" ng-if="iuic.inquiry.carInvPic !== ''" width="360" height="206"
						 style="margin-left: 1px">
						
					</div>
				
					<!-- <img ng-src="{{iuic.inquiry.carInvPic}}" id="carInv" ng-if="iuic.inquiry.carInvPic !== ''" width="320" height="180"
						 ng-click="iuic.maximize('carInv')"> -->
				</div>
				
				<div layout="column" layout-padding layout-align="center end" ng-show="iuic.inquiry.carInvPic === ''" style="padding:0px;padding-top:10px">
					<div style="border: 2px solid grey" >
					<div class="wrapper">
						<img id="car_view_img" src="resources/img/car_view_3.png" width=330 height=220 style="margin-left:240px"/>
						<signature-pad class="signature-pad" accept="acceptCarInventory" clear="clearCarInventory" height="220" width="568"></signature-pad>
					</div>
				</div>
			</div>
			<div flex-gt-sm="50">
				<md-input-container class="md-block" style="margin-bottom:0px"> 
					<input name="invComments" ng-model="iuic.inquiry.carInvComments" placeholder="Inventory Comments" />
				</md-input-container>
			</div>
			<div layout="column" layout-align="end end" ng-show="iuic.inquiry.carInvPic === ''">
				<input type="button" ng-click="clearCarInventory()" value="Clear" style="margin-top: 5px;line-height:35px;width:60px"></input>
			</div>
			<div layout="row" layout-padding layout-align="space-between center" ng-show="iuic.inquiry.carInvPic === ''">
				<input type="button" ng-click="iuic.uploadCarInventory()" value="Upload"></input>
				<div class="progress" ng-show="iuic.carInvProgress > 0 && iuic.carInvProgress <= 99.9">
                 	<div id="carInvProgressBar" ng-bind="iuic.carInvProgress + '%'" class="ng-binding">100%</div>
				</div>
			</div>
			<div ng-show="iuic.carInvProgress >= 100" style="color: green">
				<ng-md-icon icon="done" size="18"></ng-md-icon> 
				<label> Upload Successful</label>
			</div>
			<hr style="border-top:2px solid grey;margin-top:5px;margin-bottom:5px;">
			
			<div layout="column">
				<h4> Customer Signature:</h4>
				<div layout="column" layout-padding layout-align="center end" ng-show="iuic.inquiry.custSignPic !== ''"> 
					<img ng-src="{{iuic.inquiry.custSignPic}}" id='custSign' ng-if="iuic.inquiry.custSignPic !== ''" width="320" height="180">
				</div>
				<div layout="column" layout-padding layout-align="center end" ng-show="iuic.inquiry.custSignPic === ''">
					<div style="border: 2px solid grey;width:320px;height:190px">
						<signature-pad accept="acceptCust" clear="clearCust" height="190" width="320"></signature-pad>
					</div>
					<input type="button" ng-click="clearCust()" value="Clear" style="margin-top: 5px"></input>
				</div>
				<div flex-gt-sm="50">
					<md-input-container class="md-block" style="margin-bottom:0px"> 
						<input required name="customerSign" ng-model="iuic.inquiry.custSignBy" placeholder="Signed by" />
					</md-input-container>
				</div>
				<div layout="row" layout-padding layout-align="space-between center" ng-show="iuic.inquiry.custSignPic === ''">
					<input type="button" ng-click="iuic.uploadCustomerSign()" value="Upload"></input>
					<div class="progress" ng-show="iuic.custSignProgress > 0 && iuic.custSignProgress <= 99.9">
	                 	<div id="custSignProgressBar" ng-bind="iuic.custSignProgress + '%'" class="ng-binding">100%</div>
					</div>
				</div>
				<div ng-show="iuic.custSignProgress >= 100" style="color: green">
					<ng-md-icon icon="done" size="18"></ng-md-icon> 
					<label> Upload Successful</label>
				</div>
			</div>
			<hr style="border-top:2px solid grey;margin-top:5px;margin-bottom:5px;">
			<div layout="column">
				<h4> Workshop Signature:</h4>
				<div layout="column" layout-padding layout-align="center end" ng-show="iuic.inquiry.workshopSignPic !== ''"> 
					<img ng-src="{{iuic.inquiry.workshopSignPic}}" id="wsSign" ng-if="iuic.inquiry.workshopPic !== ''" width="320" height="180">
				</div>
				<div layout="column" layout-padding layout-align="center end" ng-show="iuic.inquiry.workshopSignPic === ''">
					<div style="border: 2px solid grey;width:320px;height:190px" >
						<signature-pad accept="acceptWorkshop" clear="clearWorkshop" height="190" width="320"></signature-pad>
					</div>
					<input type="button" ng-click="clearWorkshop()" value="Clear" style="margin-top: 5px"></input>
				</div>
				<div flex-gt-sm="50">
					<md-input-container class="md-block" style="margin-bottom:0px"> 
						<input required name="workshopSign" ng-model="iuic.inquiry.wsSignBy" placeholder="Signed by" />
					</md-input-container>
				</div>
				<div layout="row" layout-padding layout-align="space-between center" ng-show="iuic.inquiry.workshopSignPic === ''">
					<input type="button" ng-click="iuic.uploadWorkshopSign()" value="Upload"></input>
					<div class="progress" ng-show="iuic.wsSignProgress > 0 && iuic.wsSignProgress <= 99.9"">
	                 	<div id="wsSignProgressBar" ng-bind="iuic.wsSignProgress + '%'" class="ng-binding">100%</div>
					</div>
				</div>
				<div ng-show="iuic.wsSignProgress >= 100" style="color: green">
					<ng-md-icon icon="done" size="18"></ng-md-icon> 
					<label> Upload Successful</label>
				</div>
			</div>
			
		</form>
		<div id="myModal" class="modal">
		  <span class="closeButton">&times;</span>
		  <img class="modal-content" id="img01">
		  <div id="caption"></div>
		</div>
	</md-content>
</div>