<div ng-controller="workshop.addEdit.controller as aewc">
	<div ng-if="!aewc.isLoading">
		<md-content layout-padding layout-align="center center">
		<div ng-if="aewc.mode === 'add'">
			<h2>Add workshop</h2>
		</div>
		<div ng-if="aewc.mode === 'edit'">
			<h2>Edit workshop</h2>
		</div>
		<form name="addWorkshopForm" novalidate
			ng-submit="aewc.mode === 'add' ? addWorkshopForm.$valid && aewc.add() : addWorkshopForm.$valid && aewc.edit()">
			<div layout="column" layout-gt-sm="row">
				<div flex-gt-sm="50">
					<md-input-container class="md-block"> <input
						required name="workshopName"
						ng-model="aewc.addEditWorkshop.workshopName"
						placeholder="Workshop Name">
					<div ng-messages="addWorkshopForm.workshopName.$error">
						<div ng-message="required">This is required</div>
					</div>
					</md-input-container>
				</div>
				<div flex-gt-sm="50">
					<md-input-container class="md-block"> <input
						minlength="11" maxlength="11" type="number" name="mobileNumber"
						ng-model="aewc.addEditWorkshop.mobileNumber"
						placeholder="Landline Number (eg. 02225670000)" />
					<div ng-messages="addWorkshopForm.mobileNumber.$error" role="alert">
						<div ng-message-exp="['minlength','maxlength']">Please enter the valid number along with the std code.</div>
					</div>
					</md-input-container>
				</div>
			</div>
			<div layout="column" layout-gt-sm="row">
				<div flex-gt-sm="50">
					<md-input-container class="md-block"> <input
						maxlength="100" type="email"
						ng-pattern="/^[a-z0-9]+[a-z0-9._\-]*@[a-z0-9._\-]+\.[a-z.]{2,5}$/"
						name="email" ng-model="aewc.addEditWorkshop.email"
						placeholder="E-mail" />
					<div ng-messages="addWorkshopForm.email.$error" role="alert">
						<div ng-message="required">This is required</div>
						<div ng-message="pattern">Please enter a valid email ID</div>
						<div ng-message="maxlength">Your email must be less than 100
							characters</div>
					</div>
					</md-input-container>
				</div>
				<div flex-gt-sm="50">
					<md-input-container class="md-block"> <textarea
						ng-model="aewc.addEditWorkshop.address" md-maxlength="1000"
						rows="1" md-select-on-focus name="address" placeholder="Address"></textarea>
					<div ng-messages="addWorkshopForm.address.$error" role="alert">
						<div ng-message="maxlength">Address should be less than
							1,000 characters</div>
					</div>
					</md-input-container>
				</div>
			</div>
			 <div layout="column" layout-gt-sm="row" layout-align="center center">
                    <md-button type="submit" class="md-raised md-primary">Save</md-button>
                </div>
		</form>
		</md-content>
	</div>
	<div layout="column" layout-align="center center"
		ng-if="aewc.isLoading">
		<img src="resources/img/spinner.gif" height="150px"></img>
	</div>
</div>
