<div ng-controller="workshop.controller as wc">
	<div class="fullScreen" ng-if="!wc.isLoading">
		<md-content class="fullScreen md-padding" layout="row">
			<div ng-show="wc.workshops <= 0" layout="row" layout-align="center center">
					<label> There are no workshops. Please click on the '+' button to create a workshop. </label>
				</div>
			<div flex layout="column">
				<div ng-repeat="workshop in wc.workshops"> 
					<md-card layout="row">
						<md-card-title style="padding-top:10px;padding-right:0px;padding-bottom:10px">
							<md-card-title-text>
								<div class="md-headline" ng-click="wc.move(workshop.workshopId)">
									<label ng-bind="workshop.workshopName"></label>
								</div>
								<span class="md-subhead" style="padding-top:0px">
									<div ng-show="workshop.mobileNumberHref">
										<ng-md-icon icon="call" ng-attr-style="color: grey" size="20"></ng-md-icon>
										<a ng-href="{{workshop.mobileNumberHref}}"> {{workshop.mobileNumber}} </a>
									</div>
									<div ng-show="workshop.email && workshop.email !== ''"  style="padding-top:5px">
										<ng-md-icon icon="mail" ng-attr-style="color: grey" size="20"></ng-md-icon>
										<label ng-bind="workshop.email"></label>
									</div>
								</span>
							</md-card-title-text>
						</md-card-title>
						<md-card-actions layout="row" layout-align="end start" style="margin-left: 0px; margin-top: 0px">
							<md-button class="md-icon-button" ng-click="wc.delete(workshop.workshopId)" style="margin:0px">
								<ng-md-icon icon="delete" ng-attr-style="color: grey" size="24"></ng-md-icon>
	    					</md-button>
							<!-- <md-button ng-click="wc.delete(workshop.workshopId)">D</md-button> -->
						</md-card-actions>
					</md-card>
				</div>
			</div>
		</md-content>
		
		<md-button class="md-fab md-fab-bottom-right" style="position: fixed;font-size: 36px" ng-click="wc.move()"
				   ng-show="hc.loginFactory.role === 'Company'">
			<div> + </div>
		</md-button> 
	</div>
	<div class="fullScreen" layout="column" layout-align="center center" ng-if="wc.isLoading">
		<img src="resources/img/spinner.gif" height="150px"></img>
	</div>
</div>