<div ng-controller="driver.addEdit.controller as aedc">
	<md-content layout-padding layout-align="center center">
		<div ng-if="aedc.mode === 'add'">
			<h2>Add driver details</h2>
		</div>
		<div ng-if="aedc.mode === 'edit'">
			<h2>Edit driver details</h2>
		</div>
		<form name="addDriverForm" novalidate
			ng-submit="aedc.mode === 'add' ? addDriverForm.$valid && aedc.add() : addDriverForm.$valid && aedc.edit()">
			<div layout="column" layout-gt-sm="row">
				<div flex-gt-sm="50">
					<md-input-container class="md-block"> <input
						required name="driverName"
						ng-model="aedc.addEditDriver.driverName" placeholder="Driver Name">
					<div ng-messages="addDriverForm.driverName.$error">
						<div ng-message="required">This is required</div>
					</div>
					</md-input-container>
				</div>
				<div flex-gt-sm="50" ng-if="aedc.mode === 'add'">
					<md-input-container class="md-block"> <input
						required name="userName" ng-model="aedc.addEditDriver.userName" ng-pattern="/^[a-z0-9._]+$/"
						placeholder="User ID">
					<div ng-messages="addDriverForm.userName.$error" role="alert">
						<div ng-message="required">This is required</div>
						<div ng-message="pattern">Username can contain only alphabets, numbers, dot (.) and underscore (_)</div>
					</div>
					</md-input-container>
				</div>
			</div>
			<div layout="column" layout-gt-sm="row" ng-if="aedc.mode === 'add'">
				<div flex-gt-sm="50">
					<md-input-container class="md-block" ng-if="aedc.mode === 'add'">
					<input required name="password" type="password"
						ng-model="aedc.addEditDriver.password" placeholder="Password">
					<div ng-messages="addDriverForm.password.$error" role="alert">
						<div ng-message="required">This is required</div>
					</div>
					</md-input-container>
				</div>
				<div flex-gt-sm="50">
					<md-input-container class="md-block" ng-if="aedc.mode === 'add'">
					<input required type="password"
						ng-model="aedc.addEditDriver.verifyPassword" name="verifyPassword"
						ng-pattern="aedc.addEditDriver.password"
						placeholder="Confirm Password">
					<div ng-messages="addDriverForm.verifyPassword.$error" role="alert">
						<div ng-message="required">This is required</div>
						<div ng-message="pattern">Passwords don't match</div>
					</div>
					</md-input-container>
				</div>
			</div>
			<div layout="column" layout-gt-sm="row">
				<div flex-gt-sm="50">
					<md-input-container class="md-block"> <input
						required minlength="10" maxlength="10" type="number"
						name="mobileNumber" ng-model="aedc.addEditDriver.mobileNumber"
						placeholder="Mobile Number" />
					<div ng-messages="addDriverForm.mobileNumber.$error" role="alert">
						<div ng-message="required">This is required</div>
						<div ng-message-exp="['minlength','maxlength']">Please enter
							a 10 digit mobile number</div>
					</div>
					</md-input-container>
				</div>
				<div flex-gt-sm="50">
					<md-input-container class="md-block"> <input
						minlength="10" maxlength="10" type="number" name="alternateNo"
						ng-model="aedc.addEditDriver.alternateNo"
						placeholder="Alternate Number" />
					<div ng-messages="addDriverForm.alternateNo.$error" role="alert">
						<div ng-message-exp="['minlength','maxlength']">Please enter
							a 10 digit mobile number</div>
					</div>
					</md-input-container>
				</div>
			</div>
			<div layout="column" layout-gt-sm="row">
				<div flex-gt-sm="50">
					<md-input-container class="md-block"> <textarea
						ng-model="aedc.addEditDriver.address" md-maxlength="1000" rows="1"
						md-select-on-focus name="address" placeholder="Address"></textarea>
					<div ng-messages="addDriverForm.address.$error" role="alert">
						<div ng-message="maxlength">Address should be less than
							1,000 characters</div>
					</div>
					</md-input-container>
				</div>
				<div flex-gt-sm="50">
					<md-input-container class="md-block"> <input
						maxlength="100" type="email"
						ng-pattern="/^[a-z0-9]+[a-z0-9._\-]*@[a-z0-9._\-]+\.[a-z.]{2,5}$/"
						name="email" ng-model="aedc.addEditDriver.email"
						placeholder="E-mail" />
					<div ng-messages="addDriverForm.email.$error" role="alert">
						<div ng-message="pattern">Please enter a valid email ID</div>
						<div ng-message="maxlength">Your email must be less than 100
							characters</div>
					</div>
					</md-input-container>
				</div>
			</div>
			<div layout="column" layout-gt-sm="row">
				<div flex-gt-sm="50">
					<md-input-container class="md-block">
						<input minlength="10" maxlength="10" name="dob" ng-model="aedc.addEditDriver.dob" placeholder="DOB (DD/MM/YYYY)" 
								ng-pattern="/^[0-9][0-9]/[0-9][0-9]/[0-9][0-9][0-9][0-9]$/"/>
						<div ng-messages="addDriverForm.dob.$error" role="alert">
							<div ng-message="pattern">Please enter a valid Date of Birth</div>
						</div>
					</md-input-container>
					<!-- <md-input-container class="md-block">
					 <md-datepicker ng-model="aedc.addEditDriver.dob" ng-change="aedc.onDateChanged()" md-current-view="year" md-placeholder="Date of Birth"></md-datepicker>
					</md-input-container> -->
				</div>
			</div>
			<div layout="column" layout-gt-sm="row" layout-align="center center">
				<md-button type="submit" class="md-raised md-primary">Save</md-button>
			</div>
		</form>
	</md-content>
	<div layout="column" layout-align="center center"
		ng-if="aedc.isLoading">
		<img src="resources/img/spinner.gif" height="150px"></img>
	</div>
</div>
