<div ng-controller="driver.controller as dc">
	<div ng-if="!dc.isLoading">
		<md-content class="fullScreen md-padding" layout="row">
			<div ng-show="dc.drivers <= 0" layout="row" layout-align="center center">
				<label> There are no drivers. Please click on the '+' button to include a driver. </label>
			</div>
			<div flex layout="column">
				<div ng-repeat="driver in dc.drivers"> 
					<md-card layout="row">
						<md-card-title-media flex="25" layout-child="center center" style="padding:5px">
           					<img ng-src="{{driver.profilePic}}" ng-if="driver.profilePic !== ''" width="75" height="75">
           					<ng-md-icon icon="account_box" size="75" ng-if="driver.profilePic === ''"></ng-md-icon>
        				</md-card-title-media>
						<md-card-title style="padding:10px 0px 10px 5px">
							<md-card-title-text>
								<div class="md-headline" ng-click="dc.move(driver.driverId)">
									<label ng-bind="driver.driverName"></label>
								</div>
								<span class="md-subhead" style="padding-top:5px">
									<div ng-show="driver.mobileNumberHref || driver.alternateNoHref">
										<ng-md-icon icon="call" ng-attr-style="color: grey" size="20"></ng-md-icon>
										<span ng-show="driver.mobileNumber">
											<a ng-href="{{driver.mobileNumberHref}}"> {{driver.mobileNumber}}</a>
										</span>
										<span ng-if="driver.alternateNoHref"> 
											<label> / </label>
											<a ng-href="{{driver.alternateNoHref}}"> {{driver.alternateNo}}</a> 
										</span>
									</div>
									<!-- <label ng-bind="driver.mobileNumber"></label>
									<span ng-if="driver.alternateNo !== ''"> 
										<label> / </label> 
										<label ng-bind="driver.alternateNo"></label> 
									</span> -->
								</span>
							</md-card-title-text>
						</md-card-title>
						<md-card-actions layout="column" layout-align="space-around center" style="margin:0px;margin-right:5px">
							<md-button flex="50" class="md-icon-button" ng-click="dc.delete(driver.driverId)" style="padding:0;margin:0">
								<ng-md-icon icon="delete" ng-attr-style="color: grey" size="24"></ng-md-icon>
	    					</md-button>
	    					<md-button flex="50" class="md-icon-button" ng-click="dc.upload(driver.driverId)" style="padding:0;margin:0">
								<ng-md-icon icon="add_a_photo" ng-attr-style="color: grey" size="24"></ng-md-icon>
	    					</md-button>
							<!-- <md-button ng-click="dc.delete(driver.driverId)">D</md-button> -->
						</md-card-actions>
					</md-card>
				</div>
			</div>
		</md-content>
		
		<md-button class="md-fab md-fab-bottom-right" style="position: fixed;font-size: 36px" ng-click="dc.move()">
			<div> + </div>
		</md-button> 
	</div>
	<div class="fullScreen" layout="column" layout-align="center center" ng-if="dc.isLoading">
		<img src="resources/img/spinner.gif" height="150px"></img>
	</div>
</div>