<div ng-controller="driver.uploadImages.controller as duic">
	<md-content layout-padding layout-align="center center">
		<div>
			<h2>Upload Driver Details</h2>
			<h6> <i> * Photos should be less than 2 MB</i></h6>
		</div>
		<form name="uploadDriverForm" enctype="multipart/form-data">
			<div layout="column">
				<h4> Driver Profile Photo:</h4>
				<div layout="row" layout-padding layout-align="space-between center">
					<ng-md-icon icon="image" size="75" ng-if="duic.addEditDriver.profilePic === ''"></ng-md-icon>
	                <img ng-src="{{duic.addEditDriver.profilePic}}" id="profile" ng-if="duic.addEditDriver.profilePic !== ''" width="75" height="75"
	                	 ng-click="duic.maximize('profile')">
	                <input flex type="file" ngf-select ng-model="duic.profilePic" name="image" accept="image/*" 
	              	   		   ngf-max-size="2MB" >
				</div>
				<div layout="row" layout-padding layout-align="space-between center">
					<input type="button" ng-click="duic.uploadProfilePic(duic.profilePic)" value="Upload"></input>
					<div class="progress" ng-show="duic.profileProgress > 0 && duic.profileProgress <= 99.9">
	                 	<div id="profileProgressBar" ng-bind="duic.profileProgress + '%'" class="ng-binding">100%</div>
					</div>
					<div ng-show="duic.profileProgress >= 100" style="color: green">
						<ng-md-icon icon="done" size="18"></ng-md-icon> 
						<label> Upload Successful</label>
					</div>
				</div>
			</div>
			<hr style="border-top:2px solid grey;margin-top:5px;margin-bottom:5px;">
			<div layout="column">
				<h4> Driver License Photo:</h4>
				<div layout="row" layout-padding layout-align="space-between center">
					<ng-md-icon icon="image" size="75" ng-if="duic.addEditDriver.licensePic === ''"></ng-md-icon>
                  	<img ng-src="{{duic.addEditDriver.licensePic}}" id="license" ng-if="duic.addEditDriver.licensePic !== ''" width="75" height="75"
                  		 ng-click="duic.maximize('license')">
                  	<input flex="75" type="file" ngf-select ng-model="duic.licensePic" name="image" accept="image/*" 
	              	   		   ngf-max-size="2MB" >
				</div>
				<div layout="row" layout-padding layout-align="space-between center">
					<input type="button" ng-click="duic.uploadLicensePic(duic.licensePic)" value="Upload"></input>
					<div class="progress" ng-show="duic.licenseProgress > 0 && duic.licenseProgress <= 99.9">
	                 	<div id="licenseProgressBar" ng-bind="duic.licenseProgress + '%'" class="ng-binding">100%</div>
					</div>
					<div ng-show="duic.licenseProgress >= 100" style="color: green">
						<ng-md-icon icon="done" size="18"></ng-md-icon> 
						<label> Upload Successful</label>
					</div>
				</div>
			</div>
			<hr style="border-top:2px solid grey;margin-top:5px;margin-bottom:5px;">
			<div layout="column">
				<h4> Driver ID Proof Photo:</hr>
				<div layout="row" layout-padding layout-align="space-between center">
					<ng-md-icon icon="image" size="75" ng-if="duic.addEditDriver.idProofPic === ''"></ng-md-icon>
                  	<img ng-src="{{duic.addEditDriver.idProofPic}}" id="idProof" ng-if="duic.addEditDriver.idProofPic !== ''" width="75" height="75"
                  		 ng-click="duic.maximize('idProof')">
                  	<input flex="75" type="file" ngf-select ng-model="duic.idProofPic" name="image" accept="image/*" 
	              	   		   ngf-max-size="2MB" >
				</div>
				<div layout="row" layout-padding layout-align="space-between center">
					<input type="button" ng-click="duic.uploadIdProofPic(duic.idProofPic)" value="Upload"></input>
					<div class="progress" ng-show="duic.idProofProgress > 0 && duic.idProofProgress <= 99.9">
	                 	<div id="idProofProgressBar" ng-bind="duic.idProofProgress + '%'" class="ng-binding">100%</div>
					</div>
					<div ng-show="duic.idProofProgress >= 100" style="color: green">
						<ng-md-icon icon="done" size="18"></ng-md-icon> 
						<label> Upload Successful</label>
					</div>
				</div>
			</div>
		</form>
		<div id="myModal" class="modal">
		  <span class="closeButton">&times;</span>
		  <img class="modal-content" id="img01">
		  <div id="caption"></div>
		</div>
	</md-content>
</div>