<style type="text/css">
	.row{
		display: grid;
		margin-bottom: 30px;
	}
	.dataTitle{
		color:gray;
		font-size: 12px;
	}
	.data{
		font-size: 17px;
	}
</style>
<div ng-controller="towfixers_inquiry.addEdit.controller as aetfic">
	<div ng-if="!aetfic.isLoading">
		<md-content layout-padding layout-align="center center">
		<div ng-if="aetfic.mode === 'add'">
			<h2>Towfixers Inquiry</h2>
		</div>
		<div ng-if="aetfic.mode === 'edit'">
			<h2>Towfixers Inquiry</h2>
		</div>
		<form name="addTowfixers_inquiryForm" novalidate
			ng-submit="aetfic.mode === 'add' ? addTowfixers_inquiryForm.$valid && aetfic.add() : addTowfixers_inquiryForm.$valid && aetfic.edit()">
			<div layout="row" layout-child="start center" layout-gt-sm="row">
				<md-input-container flex="50" class="md-block"> 
 					<input name="amount" type="number"
						ng-model="aetfic.addEditTowfixers_inquiry.amount"
						placeholder="Amount" />
				</md-input-container>
				<md-input-container flex="50" class="md-block">
						<input type="number" 				
						name="arrival_time" ng-model="aetfic.addEditTowfixers_inquiry.arrival_time"
						placeholder="Time of arrival in minutes" />
				</md-input-container>
			</div>
			<div layout="column" layout-gt-sm="row">
				<div flex-gt-sm="50">
					<md-input-container class="md-block"> <md-select
						placeholder="Service Type" name="service_type"
						ng-model="aetfic.addEditTowfixers_inquiry.service_type"> <md-option
						ng-repeat="type in aetfic.typesOfService" ng-value="type"
						placeholder="Service Type"> {{type}} </md-option> </md-select> </md-input-container>
				</div>
				</div>
				<div layout="column" layout-gt-sm="row">
					<div style="width: 100%;" >
						<div class="row">
							<label class="dataTitle">Car Make</label>
							<label class="data">{{aetfic.addEditTowfixers_inquiry.car_brand}}</label>
						</div>
						<div class="row">
							<label class="dataTitle">Car Model</label>
							<label class="data">{{aetfic.addEditTowfixers_inquiry.car_model}}</label>
						</div>
						<div class="row">
							<label class="dataTitle">Pick up Location</label>
							<label class="data">{{aetfic.addEditTowfixers_inquiry.pickup_location}}</label>
						</div>
						<div class="row">
							<label class="dataTitle">Drop address</label>
							<label class="data">{{aetfic.addEditTowfixers_inquiry.drop_add}}</label>
						</div>
						<div class="row">
							<label class="dataTitle">Car parking condition</label>
							<label class="data">{{aetfic.addEditTowfixers_inquiry.car_parking_condition}}</label>
						</div>
						<div class="row">
							<label class="dataTitle">Breakdown type</label>
							<label class="data">{{aetfic.addEditTowfixers_inquiry.brkdown_type}}</label>
						</div>
						<div class="row">
							<label class="dataTitle" >Tyre condition</label>
							<label class="data" ng-if="aetfic.addEditTowfixers_inquiry.tyres_condition != '' " >{{aetfic.addEditTowfixers_inquiry.tyres_condition}}</label>
							<label class="data" ng-if="aetfic.addEditTowfixers_inquiry.tyres_condition == '' " >- - -</label>
						</div>
						<div class="row">
							<label class="dataTitle">Service required</label>
							<label class="data">{{aetfic.addEditTowfixers_inquiry.service_required}}</label>
						</div>
						<div class="row">
							<label class="dataTitle">Additional information</label>
							<label class="data">{{aetfic.addEditTowfixers_inquiry.additional_info}}</label>
						</div>
					</div>
				</div>
			 <div layout="column" layout-gt-sm="row" layout-align="center center">
                <md-button type="submit" class="md-raised md-primary">Save</md-button>
            </div>
		</form>
		</md-content>
	</div>
	<div layout="column" layout-align="center center"
		ng-if="aetfic.isLoading">
		<img src="resources/img/spinner.gif" height="150px"></img>
	</div>
</div>
