<div ng-controller="towfixers_inquiry.controller as tfic">
	<div class="fullScreen" ng-if="!tfic.isLoading">
		<md-content class="fullScreen md-padding" layout="row">
			<div style="display: flex; width: 100%;" ng-show="tfic.towfixers_inquiries <= 0" layout="row" layout-align="center center">
					<label> There are no Towfixers Inquiries.</label>
				</div>
			<div flex layout="column">
				<div ng-repeat="towfixers_inquiry in tfic.towfixers_inquiries"> 
					<md-card layout="row">
						<md-card-title style="padding:10px;">
							<md-card-title-text>
								<div class="md-headline" ng-click="tfic.move(towfixers_inquiry.towfixers_inquiryId)">
									<label ng-bind="towfixers_inquiry.pickup_location" style="color: #000; font-size: 16px;"></label>
									<label style="color: #000; font-size: 16px;"><i style="transform: translateY(7px);" class="material-icons">arrow_right_alt</i></label>
									<label ng-bind="towfixers_inquiry.drop_add" style="color: #000; font-size: 16px;"></label>
									<label ng-bind="towfixers_inquiry.dt_added" style="float: right; color: #000; font-size: 12px;"></label>
								</div>
								<div class="md-headline" style="font-weight: 100; line-height: 18px;" ng-click="tfic.move(towfixers_inquiry.towfixers_inquiryId)">
									<label ng-bind="towfixers_inquiry.car_brand" style="color: grey; font-size: 14px;"></label>
									<label ng-bind="towfixers_inquiry.car_model" style="color: grey; font-size: 14px;"></label>
								</div>
								<div class="md-headline" style="font-weight: 100; line-height: 18px;" ng-click="tfic.move(towfixers_inquiry.towfixers_inquiryId)">
									<label style="color: grey; font-size: 12px;">Srvc rqrd :</label>
									<label ng-bind="towfixers_inquiry.service_required" style="color: grey; font-size: 12px;"></label>
								</div>
							</md-card-title-text>
						</md-card-title>
						<md-card-actions layout="row" layout-align="end start" style="display: none; margin-left: 0px; margin-top: 0px">
							<md-button class="md-icon-button" ng-click="tfic.delete(towfixers_inquiry.towfixers_inquiryId)" style="margin:0px">
								<ng-md-icon icon="delete" ng-attr-style="color: grey" size="24"></ng-md-icon>
	    					</md-button>
							<!-- <md-button ng-click="tfic.delete(towfixers_inquiry.towfixers_inquiryId)">D</md-button> -->
						</md-card-actions>
					</md-card>
				</div>
			</div>
		</md-content>
		
		<md-button class="md-fab md-fab-bottom-right" style="display: none; position: fixed;font-size: 36px" ng-click="tfic.move()"
				   ng-show="hc.loginFactory.role === 'Company'">
			<div> + </div>
		</md-button> 
	</div>
	<div class="fullScreen" layout="column" layout-align="center center" ng-if="tfic.isLoading">
		<img src="resources/img/spinner.gif" height="150px"></img>
	</div>
</div>