<div style="display: grid;">
		<md-card style="padding: 10px;" >
			<div style="margin: 10px 0px;">
				<ng-md-icon icon="call" ng-attr-style="color: grey" size="20"></ng-md-icon>
				<a style="text-decoration: none;" href="tel:9819369768">9833174112</a>
			</div>
			<div style="margin: 10px 0px;">
				<ng-md-icon icon="mail"></ng-md-icon>
				<label>carfixersindia@gmail.com</label>
			</div>
		</md-card>
</div>


