<div ng-controller="technician.addEdit.controller as aetc">
	<md-content layout-padding layout-align="center center">
		<div ng-if="aetc.mode === 'add'">
			<h2>Add technician details</h2>
		</div>
		<div ng-if="aetc.mode === 'edit'">
			<h2>Edit technician details</h2>
		</div>
		<form name="addTechnicianForm" novalidate
			ng-submit="aetc.mode === 'add' ? addTechnicianForm.$valid && aetc.add() : addTechnicianForm.$valid && aetc.edit()">
			<div layout="column" layout-gt-sm="row">
				<div flex-gt-sm="50">
					<md-input-container class="md-block"> <input
						required name="technicianName"
						ng-model="aetc.addEditTechnician.technicianName" placeholder="Technician Name">
					<div ng-messages="addTechnicianForm.technicianName.$error">
						<div ng-message="required">This is required</div>
					</div>
					</md-input-container>
				</div>
				<div flex-gt-sm="50" ng-if="aetc.mode === 'add'">
					<md-input-container class="md-block"> <input
						required name="userName" ng-model="aetc.addEditTechnician.userName" ng-pattern="/^[a-z0-9._]+$/"
						placeholder="User ID">
					<div ng-messages="addTechnicianForm.userName.$error" role="alert">
						<div ng-message="required">This is required</div>
						<div ng-message="pattern">Username can contain only alphabets, numbers, dot (.) and underscore (_)</div>
					</div>
					</md-input-container>
				</div>
			</div>
			<div layout="column" layout-gt-sm="row" ng-if="aetc.mode === 'add'">
				<div flex-gt-sm="50">
					<md-input-container class="md-block" ng-if="aetc.mode === 'add'">
					<input required name="password" type="password"
						ng-model="aetc.addEditTechnician.password" placeholder="Password">
					<div ng-messages="addTechnicianForm.password.$error" role="alert">
						<div ng-message="required">This is required</div>
					</div>
					</md-input-container>
				</div>
				<div flex-gt-sm="50">
					<md-input-container class="md-block" ng-if="aetc.mode === 'add'">
					<input required type="password"
						ng-model="aetc.addEditTechnician.verifyPassword" name="verifyPassword"
						ng-pattern="aetc.addEditTechnician.password"
						placeholder="Confirm Password">
					<div ng-messages="addTechnicianForm.verifyPassword.$error" role="alert">
						<div ng-message="required">This is required</div>
						<div ng-message="pattern">Passwords don't match</div>
					</div>
					</md-input-container>
				</div>
			</div>
			<div layout="column" layout-gt-sm="row">
				<div flex-gt-sm="50">
					<md-input-container class="md-block"> <input
						required minlength="10" maxlength="10" type="number"
						name="mobileNumber" ng-model="aetc.addEditTechnician.mobileNumber"
						placeholder="Mobile Number" />
					<div ng-messages="addTechnicianForm.mobileNumber.$error" role="alert">
						<div ng-message="required">This is required</div>
						<div ng-message-exp="['minlength','maxlength']">Please enter
							a 10 digit mobile number</div>
					</div>
					</md-input-container>
				</div>
				<div flex-gt-sm="50">
					<md-input-container class="md-block"> <input
						minlength="10" maxlength="10" type="number" name="alternateNo"
						ng-model="aetc.addEditTechnician.alternateNo"
						placeholder="Alternate Number" />
					<div ng-messages="addTechnicianForm.alternateNo.$error" role="alert">
						<div ng-message-exp="['minlength','maxlength']">Please enter
							a 10 digit mobile number</div>
					</div>
					</md-input-container>
				</div>
			</div>
			<div layout="column" layout-gt-sm="row">
				<div flex-gt-sm="50">
					<md-input-container class="md-block"> <textarea
						ng-model="aetc.addEditTechnician.address" md-maxlength="1000" rows="1"
						md-select-on-focus name="address" placeholder="Address"></textarea>
					<div ng-messages="addTechnicianForm.address.$error" role="alert">
						<div ng-message="maxlength">Address should be less than
							1,000 characters</div>
					</div>
					</md-input-container>
				</div>
				<div flex-gt-sm="50">
					<md-input-container class="md-block"> <input
						maxlength="100" type="email"
						ng-pattern="/^[a-z0-9]+[a-z0-9._\-]*@[a-z0-9._\-]+\.[a-z.]{2,5}$/"
						name="email" ng-model="aetc.addEditTechnician.email"
						placeholder="E-mail" />
					<div ng-messages="addTechnicianForm.email.$error" role="alert">
						<div ng-message="pattern">Please enter a valid email ID</div>
						<div ng-message="maxlength">Your email must be less than 100
							characters</div>
					</div>
					</md-input-container>
				</div>
			</div>
			<div layout="column" layout-gt-sm="row">
				<div flex-gt-sm="50">
					<md-input-container class="md-block">
						<input minlength="10" maxlength="10" name="dob" ng-model="aetc.addEditTechnician.dob" placeholder="DOB (DD/MM/YYYY)" 
								ng-pattern="/^[0-9][0-9]/[0-9][0-9]/[0-9][0-9][0-9][0-9]$/"/>
						<div ng-messages="addTechnicianForm.dob.$error" role="alert">
							<div ng-message="pattern">Please enter a valid Date of Birth</div>
						</div>
					</md-input-container>
					<!-- <md-input-container class="md-block">
					 <md-datepicker ng-model="aetc.addEditTechnician.dob" ng-change="aetc.onDateChanged()" md-current-view="year" md-placeholder="Date of Birth"></md-datepicker>
					</md-input-container> -->
				</div>
			</div>
			<div layout="column" layout-gt-sm="row" layout-align="center center">
				<md-button type="submit" class="md-raised md-primary">Save</md-button>
			</div>
		</form>
	</md-content>
	<div layout="column" layout-align="center center"
		ng-if="aetc.isLoading">
		<img src="resources/img/spinner.gif" height="150px"></img>
	</div>
</div>
