<div ng-controller="technician.controller as tc">
	<div ng-if="!tc.isLoading">
		<md-content class="fullScreen md-padding" layout="row">
			<div ng-show="tc.technicians <= 0" layout="row" layout-align="center center">
				<label> There are no technicians. Please click on the '+' button to include a technician. </label>
			</div>
			<div flex layout="column">
				<div ng-repeat="technician in tc.technicians"> 
					<md-card layout="row">
						<md-card-title-media flex="25" layout-child="center center" style="padding:5px">
           					<img ng-src="{{technician.profilePic}}" ng-if="technician.profilePic !== ''" width="75" height="75">
           					<ng-md-icon icon="account_box" size="75" ng-if="technician.profilePic === ''"></ng-md-icon>
        				</md-card-title-media>
						<md-card-title style="padding:10px 0px 10px 5px">
							<md-card-title-text>
								<div class="md-headline" ng-click="tc.move(technician.technicianId)">
									<label ng-bind="technician.technicianName"></label>
								</div>
								<span class="md-subhead" style="padding-top:5px">
									<div ng-show="technician.mobileNumberHref || technician.alternateNoHref">
										<ng-md-icon icon="call" ng-attr-style="color: grey" size="20"></ng-md-icon>
										<span ng-show="technician.mobileNumber">
											<a ng-href="{{technician.mobileNumberHref}}"> {{technician.mobileNumber}}</a>
										</span>
										<span ng-if="technician.alternateNoHref"> 
											<label> / </label>
											<a ng-href="{{technician.alternateNoHref}}"> {{technician.alternateNo}}</a> 
										</span>
									</div>
									<!-- <label ng-bind="technician.mobileNumber"></label>
									<span ng-if="technician.alternateNo !== ''"> 
										<label> / </label> 
										<label ng-bind="technician.alternateNo"></label> 
									</span> -->
								</span>
							</md-card-title-text>
						</md-card-title>
						<md-card-actions layout="column" layout-align="space-around center" style="margin:0px;margin-right:5px">
							<md-button flex="50" class="md-icon-button" ng-click="tc.delete(technician.technicianId)" style="padding:0;margin:0">
								<ng-md-icon icon="delete" ng-attr-style="color: grey" size="24"></ng-md-icon>
	    					</md-button>
	    					<!-- <md-button flex="50" class="md-icon-button" ng-click="tc.upload(technician.technicianId)" style="padding:0;margin:0">
								<ng-md-icon icon="add_a_photo" ng-attr-style="color: grey" size="24"></ng-md-icon>
	    					</md-button> -->
							<!-- <md-button ng-click="tc.delete(technician.technicianId)">D</md-button> -->
						</md-card-actions>
					</md-card>
				</div>
			</div>
		</md-content>
		
		<md-button class="md-fab md-fab-bottom-right" style="position: fixed;font-size: 36px" ng-click="tc.move()">
			<div> + </div>
		</md-button> 
	</div>
	<div class="fullScreen" layout="column" layout-align="center center" ng-if="tc.isLoading">
		<img src="resources/img/spinner.gif" height="150px"></img>
	</div>
</div>