<div ng-controller="login.forgotPassword.controller as lfpc">
	<md-content class="fullScreen" layout-padding layout="column" layout-align="center center">
		<form name="forgotPassForm">
			<div ng-if="lfpc.page == 'user'">
				<md-input-container class="md-block">
			        <input md-maxlength="30" required name="username" ng-model="lfpc.forgotCredentials.user" placeholder="Username">
		        	<div ng-messages="forgotPassForm.username.$error">
						<div ng-message="required">Username is required</div>
					</div>
		     	</md-input-container>
		     	<div layout="row" layout-align="center center">
					<md-button class="md-raised md-primary" ng-click="lfpc.getUser(lfpc.forgotCredentials.user)">Next</md-button>
				</div>
			</div>
			<div ng-if="lfpc.userFound == true && lfpc.page == 'pass'">
				
				<md-input-container class="md-block">
			        <input type="text" required name="mobile" ng-model="lfpc.mobile" placeholder="Registered Mobile Number">
		     	</md-input-container>
				
				<md-input-container class="md-block">
			        <input type="password" md-maxlength="30" required name="newPassword" ng-model="lfpc.forgotCredentials.newPassword" placeholder="New Password">
		     		<div ng-messages="forgotPassForm.newPassword.$error">
						<div ng-message="required">New Password is required</div>
					</div>
		     	</md-input-container>
		     	
		     	<md-input-container class="md-block">
			        <input md-maxlength="30" required name="confirmPassword" 
			        		ng-model="lfpc.forgotCredentials.confirmNewPassword" ng-pattern="lfpc.forgotCredentials.newPassword" placeholder="Confirm New Password">
		     		<div ng-messages="forgotPassForm.confirmPassword.$error">
						<div ng-message="required">Confirm Password is required</div>
						<div ng-message="pattern">Passwords don't match</div>
					</div>
		     	</md-input-container>
		     	
		     	<div layout="row" layout-align="center center">
					<md-button type="submit" class="md-raised md-primary" ng-click="lfpc.change()" ng-disable="forgotPassForm.$invalid">Change</md-button>
				</div>
			</div>	
		</form>
	</md-content>
</div>