<div ng-controller="login.controller as lc">
	<md-content class="fullScreen" layout-padding layout="column" layout-align="center center">
		<img src="resources/img/logo_3.png" height="125" width="250"></img>		
		<form name="loginForm" ng-submit="lc.login()">
			<md-input-container class="md-block">
		        <input md-maxlength="30" required name="username" ng-pattern="/^[a-z0-9._]+$/"  ng-model="lc.credentials.user" placeholder="Username">
	        	<div ng-messages="loginForm.username.$error">
	        	<div ng-message="pattern">Username can contain only alphabets, numbers, dot (.) and underscore (_)</div>
					<div ng-message="required">Username is required</div>
				</div>
	     	</md-input-container>
	     	
	     	<md-input-container class="md-block" style="margin:0px">
		        <input type="password" md-maxlength="30" required name="password" ng-model="lc.credentials.password" placeholder="Password">
	     		<div ng-messages="loginForm.password.$error">
					<div ng-message="required">Password is required</div>
				</div>
	     	</md-input-container>
	     	<div layout="row" layout-align="end center" style="margin-top:5px; margin-bottom:15px">
				<a ng-click="lc.move()" style="font-size:12px">Forgot Password?</a>
			</div>
	     	<div layout="row" layout-align="center center">
				<md-button type="submit" class="md-raised md-primary">Login</md-button>
			</div>	
		</form>
	</md-content>
</div>