<div ng-controller="tech_inquiry.addEdit.controller as aetic">
	<md-content layout-padding layout-align="center center">
		<div ng-if="aetic.mode === 'add'">
			<h2>Add Tech_inquiry</h2>
		</div>
		<div ng-if="aetic.mode === 'edit'">
			<h2>Edit Tech_inquiry</h2>
		</div>
		<form name="addTech_inquiryForm" novalidate
			ng-submit="aetic.mode === 'add' ? addTech_inquiryForm.$valid && aetic.add() : addTech_inquiryForm.$valid && aetic.edit()">
			<div layout="row" layout-child="start center" layout-gt-sm="row" ng-if="aetic.loginFactory.role === 'Company'">
				<md-input-container flex="50" class="md-block" style="padding-top:10px">
					<md-checkbox ng-model="aetic.addEditTech_inquiry.isComplete" aria-label="Checkbox 2" ng-true-value="'1'" ng-false-value="'0'">
					  Complete
	 				</md-checkbox>
 				</md-input-container>
 				<md-input-container flex="50" class="md-block"> 
 					<input name="amount" type="number"
						ng-model="aetic.addEditTech_inquiry.amount"
						placeholder="Amount" />
				</md-input-container>
			</div>
			<div layout="column" layout-gt-sm="row">
                 <div flex-gt-sm="50">
                     <!-- <md-input-container style="display: none;" class="md-block">
                         <textarea ng-model="aetic.addEditTech_inquiry.driverComments" md-maxlength="500" rows="1" md-select-on-focus name="driverComments" placeholder="Comments to the driver"></textarea>
                         <div ng-messages="addTech_inquiryForm.driverComments.$error" role="alert">
                             <div ng-message="maxlength">Driver Comments should be less than 500 characters</div>
                         </div>
                     </md-input-container> -->
                 </div>
            </div>
            <md-select ng-if="aetic.loginFactory.role === 'Dealer' && aetic.addEditTech_inquiry.technician_id != undefined " placeholder={{aetic.addEditTech_inquiry.technician_name}} ng-model="aetic.addEditTech_inquiry.company_id" name="company_id" md-on-open="loadUsers()" style="min-width: 200px;">
		      <md-option ng-value="user.id" ng-click="aetic.setValue(temp_company.temp_companyId,$index,$event)" ng-repeat="user in users">{{user.name}}</md-option>
		    </md-select>

		    <md-select ng-if="aetic.loginFactory.role === 'Dealer' && aetic.addEditTech_inquiry.technician_id == undefined " placeholder="Select Technician" ng-model="aetic.addEditTech_inquiry.company_id" name="company_id" md-on-open="loadUsers()" style="min-width: 200px;">
		      <md-option ng-value="user.id" ng-click="aetic.setValue(temp_company.temp_companyId,$index,$event)" ng-repeat="user in users">{{user.name}}</md-option>
		    </md-select>
			<!-- <div layout="column" layout-gt-sm="row">
				<div ng-if="aetic.loginFactory.role === 'Company' " flex-gt-sm="50">
					<md-input-container class="md-block"> <md-select
						placeholder="Driver Assigned"
						ng-model="aetic.addEditTech_inquiry.driverId"> <md-option
						ng-repeat="driver in aetic.drivers" ng-value="driver.driverId">
					{{driver.driverName}} </md-option> </md-select> </md-input-container>
				</div>
				<div ng-if="aetic.loginFactory.role === 'Company' " flex-gt-sm="50" style="margin-top:10px">
					<md-input-container class="md-block"> <md-select
						placeholder="Workshop" ng-model="aetic.addEditTech_inquiry.workshopId">
					<md-option ng-repeat="workshop in aetic.workshops"
						ng-value="workshop.workshopId">
					{{workshop.workshopName}} </md-option> </md-select> </md-input-container>
					
					<img ng-if="aetic.mailing1" src="resources/img/refresh.gif" height:"48px" width="48px" style="padding:0;margin:0;position:relative;float:right;top:-90px"></img>
					
					
					<md-button ng-if="!aetic.mailing1" class="md-icon-button" ng-click="aetic.mail('workshop')" style="padding:0;margin:0;position:relative;float:right;top:-90px">
						<ng-md-icon icon="mail" ng-attr-style="color: grey" size="24">
						</ng-md-icon>
					</md-button>
					
				</div>
			</div> -->
			<div layout="column">
				<md-input-container class="md-block"> <input
					name="customerName"
					ng-model="aetic.addEditTech_inquiry.custName"
					placeholder="Customer Name">
				</md-input-container>
				<md-input-container class="md-block"> <input
					type="email" ng-pattern="/^[a-z0-9]+[a-z0-9._\-]*@[a-z0-9._\-]+\.[a-z.]{2,5}$/"
					maxlength="100" name="customerEmail"
					ng-model="aetic.addEditTech_inquiry.custEmail"
					placeholder="Customer E-mail">
						<img ng-if="aetic.mailing2" src="resources/img/refresh.gif" height="48px" width="48px" style="padding:0;margin:0;position:relative;float:right;top:-55px" />
				<md-button ng-if="!aetic.mailing2" class="md-icon-button" ng-click="aetic.mail('customer')" style="padding:0;margin:0;position:relative;float:right;top:-55px">
					<ng-md-icon icon="mail" ng-attr-style="color: grey" size="24"></ng-md-icon>
				</md-button>
				<div ng-messages="addTech_inquiryForm.customerEmail.$error" role="alert">
					<div ng-message="pattern">Please enter a valid email ID</div>
					<div ng-message="maxlength">Your email must be less than 100 characters</div>
				</div>
				</md-input-container>
			</div>
			<div layout="column">
					<md-input-container class="md-block"> <input
						minlength="10" maxlength="10" type="text"
						name="customerMobile" ng-model="aetic.addEditTech_inquiry.custMobile"
						placeholder="Customer Mobile">
					<md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="aetic.call('customer')" style="padding:0;margin:0;position:relative;float:right;top:-55px">
						<ng-md-icon icon="call" ng-attr-style="color: grey" size="24">
						</ng-md-icon>
					</md-button>
					<div ng-messages="addTech_inquiryForm.customerMobile.$error">
						<div ng-message-exp="['minlength','maxlength']">Please enter
							a 10 digit mobile number</div>
					</div>
					</md-input-container>

					<md-input-container class="md-block"> <input
						minlength="10" maxlength="10" type="text" name="customerAltMobile"
						ng-model="aetic.addEditTech_inquiry.custAltMobile"
						placeholder="Customer Alternate Mobile">
					
					<md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="aetic.call('customerDriver')" style="padding:0;margin:0;position:relative;float:right;top:-55px">
						<ng-md-icon icon="call" ng-attr-style="color: grey" size="24">
						</ng-md-icon>
					</md-button>
					
					<div ng-messages="addTech_inquiryForm.custDriverMobile.$error">
						<div ng-message-exp="['minlength','maxlength']">Please enter
							a 10 digit mobile number</div>
					</div>
					</md-input-container>
			</div>


			<div layout="column">
					<md-input-container class="md-block"> <input
						minlength="10" maxlength="10" name="caseDate"
						ng-model="aetic.addEditTech_inquiry.caseDate"
						placeholder="Case Date (DD/MM/YYYY)"
						ng-pattern="/^[0-9][0-9]/[0-9][0-9]/[0-9][0-9][0-9][0-9]$/" />
					<div ng-messages="addTech_inquiryForm.caseDate.$error" role="alert">
						<div ng-message="pattern">Please enter a valid case date</div>
					</div>
					</md-input-container>
			</div>


			<div layout="column">
					<md-input-container class="md-block"> <input
						name="carRegNo" ng-model="aetic.addEditTech_inquiry.carRegNo"
						placeholder="Car reg no e.g:MH-01-AB-1234"
						ng-pattern="/^[A-Z][A-Z]-[0-9][0-9]-[A-Z][A-Z]-[0-9][0-9][0-9][0-9]$/" />
					<div ng-messages="addTech_inquiryForm.carRegNo.$error" role="alert">
						<div ng-message="pattern">Please enter a valid car
							registration Number</div>
					</div>
					</md-input-container>
			</div>
			<div layout="column">
					<md-input-container class="md-block"> <input
						name="carBrand" ng-model="aetic.addEditTech_inquiry.carBrand" placeholder="Car Brand">
					</md-input-container>
					<md-input-container class="md-block"> <input
						name="carModel" ng-model="aetic.addEditTech_inquiry.carModel"
						placeholder="Car Model"> </md-input-container>
			</div>
			<div layout="column">
					<md-input-container class="md-block"> <input
						name="customerLocation" ng-model="aetic.addEditTech_inquiry.customerLocation"
						placeholder="Car Location" /> </md-input-container>
					<md-input-container class="md-block"> <input
						name="custPrblmDescription" ng-model="aetic.addEditTech_inquiry.custPrblmDesc"
						placeholder="Customer problem description"> </md-input-container>
				<div layout="column">
						<md-input-container class="md-block"> <input
							name="techObservation" ng-model="aetic.addEditTech_inquiry.techObservation" placeholder="Technician observation">
						</md-input-container>
				</div>
				<md-input-container class="md-block"> 
 					<input name="amount" type="number"
						ng-model="aetic.addEditTech_inquiry.amount"
						placeholder="Service Charges collected by technician" />
				</md-input-container>
					<md-input-container class="md-block"> 
						<md-select
							placeholder="Was the problem resolved" name="isPrblmSolved"
							ng-model="aetic.addEditTech_inquiry.isPrblmSolved"> 
							<md-option
								ng-repeat="prblmSolvedType in aetic.prblmSolvedTypes" ng-value="prblmSolvedType"
								placeholder="Was the problem resolved"
								ng-click="aetic.selectOptionsPrblm(prblmSolvedType)"> {{prblmSolvedType}}
							</md-option>
						</md-select>
					</md-input-container>
					<md-input-container ng-if="aetic.prblmSolved == true || aetic.addEditTech_inquiry.isPrblmSolved === 'No' " class="md-block"> 
						<md-select
							placeholder="Does the customer wants to get the car towed" name="isTowed"
							ng-model="aetic.addEditTech_inquiry.isTowed"> 
							<md-option
								ng-repeat="isCarTowe in aetic.isCarTowed" ng-value="isCarTowe"
								placeholder="Does the customer wants to get the car towed"
								ng-click="aetic.selectOptionsTowe(isCarTowe)"> {{isCarTowe}}
							</md-option>
						</md-select>
					</md-input-container>
				<div ng-if="aetic.addEditTech_inquiry.companyId != undefined && aetic.addEditTech_inquiry.companyId != 0 ">
					<div ng-if="aetic.carTowed == true && aetic.prblmSolved == true || aetic.addEditTech_inquiry.isTowed === 'Yes' && aetic.addEditTech_inquiry.isPrblmSolved === 'No' ">
						<md-select placeholder={{aetic.addEditTech_inquiry.companyName}} ng-model="aetic.addEditTech_inquiry.company_idFromTech" name="company_idFromTech" md-on-open="loadVendor()" style="min-width: 200px;">
					      <md-option ng-value="user.id" ng-click="aetic.setValue(temp_company.temp_companyId,$index,$event)" ng-repeat="user in users">{{user.name}}</md-option>
					    </md-select>
				    </div>
			    </div>
			    <div ng-if="aetic.addEditTech_inquiry.companyId == undefined || aetic.addEditTech_inquiry.companyId == 0 ">
				    <div ng-if="aetic.carTowed == true && aetic.prblmSolved == true || aetic.addEditTech_inquiry.isTowed === 'Yes' && aetic.addEditTech_inquiry.isPrblmSolved === 'No' ">
						<md-select placeholder="Select Vendor" ng-model="aetic.addEditTech_inquiry.company_idFromTech" name="company_idFromTech" md-on-open="loadVendor()" style="min-width: 200px;">
					      <md-option ng-value="user.id" ng-click="aetic.setValue(temp_company.temp_companyId,$index,$event)" ng-repeat="user in users">{{user.name}}</md-option>
					    </md-select>
				    </div>
			    </div>
			</div>
			<!-- <div style="display: none;" layout="column" layout-gt-sm="row">
				<div flex-gt-sm="50">
					<md-input-container class="md-block"> <input
						minlength="10" maxlength="10" name="caseDate"
						ng-model="aetic.addEditTech_inquiry.caseDate"
						placeholder="Case Date (DD/MM/YYYY)"
						ng-pattern="/^[0-9][0-9]/[0-9][0-9]/[0-9][0-9][0-9][0-9]$/" />
					<div ng-messages="addTech_inquiryForm.caseDate.$error" role="alert">
						<div ng-message="pattern">Please enter a valid case date</div>
					</div>
					</md-input-container>
				</div>
				<div flex-gt-sm="50">
					<md-input-container class="md-block"> <md-select
						placeholder="Case Type" name="caseType"
						ng-model="aetic.addEditTech_inquiry.caseType"> <md-option
						ng-repeat="type in aetic.types" ng-value="type"
						placeholder="Case Type"> {{type}} </md-option> </md-select> </md-input-container>
				</div>
			</div>
			<div style="display: none;" layout="column" layout-gt-sm="row">
				<Label> Driver Arrived at:</Label>
				<div layout="row" layout-child="start center">
					<div flex="25">
						<md-input-container class="md-block"> 
							<md-select name="arriveHour" ng-model="aetic.addEditTech_inquiry.driverArriveHour" placeholder="Hour">
								<md-option ng-repeat="hour in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23]" ng-value="hour"> {{hour}} </md-option>
							</md-select>
						</md-input-container>
					</div>
					<div flex="25">
						<md-input-container class="md-block"> 
							<md-select name="arriveMin" ng-model="aetic.addEditTech_inquiry.driverArriveMin" placeholder="Min">
								<md-option ng-repeat="min in [0,5,10,15,20,25,30,35,40,45,50,55]" ng-value="min"> {{min}} </md-option>
							</md-select>
						</md-input-container>
					</div>
					<div>
						<md-button class="md-raised md-primary" ng-click="aetic.assignCurrentTime()"> Current Time</md-button>
					</div>
				</div>
			</div>
			
			<div layout="column" layout-gt-sm="row">
				<div flex-gt-sm="50">
					<md-input-container class="md-block"> <input
						name="kmsReading" ng-model="aetic.addEditTech_inquiry.kmsReading"
						max="999999" type="number" placeholder="Kms Reading">
					<div ng-messages="addTech_inquiryForm.kmsReading.$error" role="alert">
						<div ng-message="max">Please enter a valid KMs reading</div>
					</div>
					</md-input-container>
				</div>
				<div flex-gt-sm="50">
					<md-input-container class="md-block"> <input
						name="carRegNo" ng-model="aetic.addEditTech_inquiry.carRegNo"
						placeholder="Car reg no e.g:MH-01-AB-1234"
						ng-pattern="/^[A-Z][A-Z]-[0-9][0-9]-[A-Z][A-Z]-[0-9][0-9][0-9][0-9]$/" />
					<div ng-messages="addTech_inquiryForm.carRegNo.$error" role="alert">
						<div ng-message="pattern">Please enter a valid car
							registration Number</div>
					</div>
					</md-input-container>
				</div>
			</div> -->
			<div layout="column" layout-gt-sm="row" layout-align="center center">
				<md-button type="submit" class="md-raised md-primary">Save</md-button>
			</div>
		</form>
	</md-content>
	<div class="fullScreen" layout="column" layout-align="center center"
		ng-if="aetic.isLoading">
		<img src="resources/img/spinner.gif" height="150px"></img>
	</div>
</div>
