<div ng-controller="tech_inquiry.controller as tic">
	<div class="fullScreen" ng-if="!tic.isLoading">
		<md-content class="fullScreen md-padding" layout="row">
			<div ng-if="tic.tech_inquiries <= 0" layout="row" layout-align="center center">
				<label ng-if="hc.loginFactory.role !== 'Driver'"> There are no tech_inquiries. Please click on the '+' button to create an tech_inquiry. </label>
			</div>
			<div ng-if="tic.tech_inquiries <= 0" layout="row" layout-align="center center" style="text-align:center">
				<label ng-if="hc.loginFactory.role === 'Driver'"> There are no tech_inquiries. </label>
			</div>
			<div flex layout="column">
				<div ng-if="hc.loginFactory.role !== 'Driver' && tic.tech_inquiries.length > 0" layout="row" layout-padding layout-align="end center" style="margin: 8px;line-height:48px">
					
					<img ng-if="tic.exporting" src="resources/img/refresh.gif" height="48px" width="48px"></img>
					<!-- <div style="display: none;"  ng-click="tic.export()">
						<label> Export </label>
						<ng-md-icon ng-if="!tic.exporting" icon="get_app" ng-attr-style="color: grey" size="36"></ng-md-icon>
					</div> -->
				</div>
				<div ng-repeat="tech_inquiry in tic.tech_inquiries"> 
					<md-card layout="row">
						<md-card-title ng-click="tic.move(tech_inquiry.tech_inquiryId)" style="padding:10px">
							<md-card-title-text>
								<span class="md-headline">
									<label ng-if="tech_inquiry.custName !== ''">{{tech_inquiry.custName}}</label>
									<label ng-if="tech_inquiry.custName === ''">New Inquiry</label>
								</span>
								<span class="md-subhead" style="display: flex;align-items: center;padding-top:0px">
										<i ng-if="tic.loginFactory.role === 'Dealer' " style="color: grey;font-size: 19px;margin-right: 8px;" class="material-icons">build</i>
										<label ng-if="tech_inquiry.technician_name && tic.loginFactory.role === 'Dealer' ">{{tech_inquiry.technician_name}}</label>
										<label ng-if="!tech_inquiry.technician_name && tic.loginFactory.role === 'Dealer' ">To be Assigned.</label>
								</span>
								<span style="display: flex;align-items: center;padding-top: 0;" ng-if="tic.loginFactory.role !== 'Dealer'" class="md-subhead" style="padding-top:0px">
									<i style="color: grey;font-size: 19px;margin-right: 8px;" class="material-icons">build</i>
									<label ng-if="tech_inquiry.technician_name">{{tech_inquiry.technician_name}}</label>
									<label ng-if="!tech_inquiry.technician_name">To be Assigned.</label>
								</span>
								<span class="md-subhead" style="padding-top:0px">
									<ng-md-icon ng-if="tic.loginFactory.role === 'Dealer' " icon="drive_eta" ng-attr-style="color: grey" size="24"></ng-md-icon>
										<label ng-if="tech_inquiry.companyName && tic.loginFactory.role === 'Dealer' ">{{tech_inquiry.companyName}}</label>
										<label ng-if="!tech_inquiry.companyName && tic.loginFactory.role === 'Dealer' ">To be Assigned.</label>
								</span>
								<span ng-if="tic.loginFactory.role !== 'Dealer'" class="md-subhead" style="padding-top:0px">
									<ng-md-icon icon="drive_eta" ng-attr-style="color: grey" size="24"></ng-md-icon>
									<label ng-if="tech_inquiry.companyName">{{tech_inquiry.companyName}}</label>
									<label ng-if="!tech_inquiry.companyName">To be Assigned.</label>
								</span>
							</md-card-title-text>
						</md-card-title>
						<md-card-actions layout="column" layout-align="space-around center" style="margin:0px;margin-right:5px">
							<md-button ng-if="tic.loginFactory.role === 'Dealer'" flex="50" class="md-icon-button" ng-click="tic.delete(tech_inquiry.tech_inquiryId)" style="padding:0;margin:0">
								<ng-md-icon icon="delete" ng-attr-style="color: grey" size="24"></ng-md-icon>
	    					</md-button>
	    					<div flex>
			    				<md-button class="md-icon-button" ng-click="tic.upload(tech_inquiry.tech_inquiryId)" style="padding:0;margin:0">
									<img src="resources/img/sign.svg" height="32" width="32"></img>
									<!-- <ng-md-icon icon="border_color" ng-attr-style="color: grey" size="24"></ng-md-icon> -->
			    				</md-button>
		    				</div>
						</md-card-actions>
					</md-card>
				</div>
			</div>
		</md-content>
		<md-button class="md-fab md-fab-bottom-right" docs-scroll-class="scrolling" style="position: fixed;font-size: 36px" ng-click="tic.move()" 
				ng-show="tic.loginFactory.role === 'Company' || tic.loginFactory.role === 'Dealer'">
			<div> + </div>
		</md-button> 
	</div>
	<div class="fullScreen" layout="column" layout-align="center center" ng-if="tic.isLoading">
		<img src="resources/img/spinner.gif" height="150px"></img>
	</div>
</div>