<div ng-controller="tech_inquiry.uploadImages.controller as tiuic">
	<md-content layout-padding layout-align="center center">
		<div>
			<h2>Upload Tech_inquiry Details</h2>	
		</div>
		<form name="uploadTech_inquiryForm" enctype="multipart/form-data">
			<div layout="column">
				<h4> Customer Signature:</h4>
				<div layout="column" layout-padding layout-align="center end" ng-show="tiuic.tech_inquiry.custSignPic !== ''"> 
					<img ng-src="{{tiuic.tech_inquiry.custSignPic}}" id='custSign' ng-if="tiuic.tech_inquiry.custSignPic !== ''" width="320" height="180">
				</div>
				<div layout="column" layout-padding layout-align="center end" ng-show="tiuic.tech_inquiry.custSignPic === ''">
					<div style="border: 2px solid grey;width:320px;height:190px">
						<signature-pad accept="acceptCust" clear="clearCust" height="190" width="320"></signature-pad>
					</div>
					<input type="button" ng-click="clearCust()" value="Clear" style="margin-top: 5px"></input>
				</div>
				<div flex-gt-sm="50">
					<md-input-container class="md-block" style="margin-bottom:0px"> 
						<input required name="customerSign" ng-model="tiuic.tech_inquiry.custSignBy" placeholder="Signed by" />
					</md-input-container>
				</div>
				<div layout="row" layout-padding layout-align="space-between center" ng-show="tiuic.tech_inquiry.custSignPic === ''">
					<input ng-show="tiuic.loginFactory.role === 'Technician'" type="button" ng-click="tiuic.uploadCustomerSign()" value="Upload"></input>
					<div class="progress" ng-show="tiuic.custSignProgress > 0 && tiuic.custSignProgress <= 99.9">
	                 	<div id="custSignProgressBar" ng-bind="tiuic.custSignProgress + '%'" class="ng-binding">100%</div>
					</div>

				</div>
				<div ng-show="tiuic.custSignProgress >= 100" style="color: green">
					<ng-md-icon icon="done" size="18"></ng-md-icon> 
					<label> Upload Successful</label>
				</div>
			</div>
		</form>
		<div id="myModal" class="modal">
		  <span class="closeButton">&times;</span>
		  <img class="modal-content" id="img01">
		  <div id="caption"></div>
		</div>
	</md-content>
</div>