<div ng-controller="company.controller as cc">
	<div class="fullScreen" ng-if="!cc.isLoading">
		<md-content class="fullScreen md-padding" layout="row">
			<div flex layout="column">
				<div ng-repeat="company in cc.companies"> 
					<md-card layout="row">
						<md-card-title style="padding:10px;padding-right:0px;padding-bottom:10px">
							<md-card-title-text>
								<div class="md-headline" ng-click="cc.move(company.companyId)" >
									<label ng-bind="company.companyName"></label>
								</div>
								<span class="md-subhead" style="padding-top:0px">
									<div ng-if="company.mobileNumberHref">
										<ng-md-icon icon="call" ng-attr-style="color: grey" size="20"></ng-md-icon>
										<a ng-href="{{company.mobileNumberHref}}">{{company.mobileNumber1}} </a>
									</div>
									<div ng-show="company.email && company.email !== ''" style="padding-top:5px">
										<ng-md-icon icon="mail" ng-attr-style="color: grey" size="20"></ng-md-icon>
										<label ng-bind="company.email"></label>
									</div>
								</span>
							</md-card-title-text>
						</md-card-title>
						<md-card-actions layout="row" layout-align="end start" style="margin-left: 0px; margin-top: 0px">
							<md-button class="md-icon-button" ng-click="cc.delete(company.companyId)" style="margin:0px">
								<ng-md-icon icon="delete" ng-attr-style="color: grey" size="24"></ng-md-icon>
	    					</md-button>
						</md-card-actions>
					</md-card>
				</div>
			</div>
		</md-content>
		
		<md-button class="md-fab md-fab-bottom-right" style="position: fixed;font-size: 36px" ng-click="cc.move()">
			<div> + </div>
		</md-button> 
	</div>
	<div class="fullScreen" layout="column" layout-align="center center" ng-if="cc.isLoading">
		<img src="resources/img/spinner.gif" height="150px"></img>
	</div>
</div> 



