<div ng-controller="dealer.addEdit.controller as aecc">
    <div class="fullScreen" ng-if="!aecc.isLoading">
        <md-content class="fullScreen" layout-padding layout="column" layout-align="center center">
            <form name="addDealerForm">
                <md-input-container class="md-block">
                    <input required name="name" ng-model="aecc.addEditDealer.dealerName" placeholder="Dealer Name">
                </md-input-container>
                <md-input-container class="md-block" ng-if="aecc.mode === 'add'">
                    <input required name="name" ng-model="aecc.addEditDealer.userName" placeholder="User Name">
                </md-input-container>
                <md-input-container class="md-block" ng-if="aecc.mode === 'add'">
                    <input required name="name" ng-model="aecc.addEditDealer.password" placeholder="Password">
                </md-input-container>
            </form>
            <div layout="row" layout-align="end end">
                <md-button class="md-raised" ng-click="aecc.mode === 'add' ? aecc.add() : aecc.edit()">Save</md-button>
            </div>    
        </md-content>
    </div>
    <div class="fullScreen" layout="column" layout-align="center center" ng-if="aecc.isLoading">
		<img src="resources/img/spinner.gif" height="150px"></img>
	</div>
</div>
