<div ng-controller="dealer.addEdit.controller as aecc">
    <div ng-if="!aecc.isLoading">
        <md-content layout-padding layout-align="center center">
            <div ng-if="aecc.mode === 'add'">
                <h2> Add dealer</h2>
            </div>
            <div ng-if="aecc.mode === 'edit'">
                <h2> Edit dealer</h2>
            </div>
            <form name="addDealerForm" novalidate ng-submit="aecc.mode === 'add' ? addDealerForm.$valid && aecc.add() : addDealerForm.$valid && aecc.edit()">
                <div layout="column" layout-gt-sm="row">
                    <div flex-gt-sm="50">
                        <md-input-container class="md-block">
                            <input required name="dealerName" ng-model="aecc.addEditDealer.dealerName" placeholder="Dealer Name">
                            <div ng-messages="addDealerForm.dealerName.$error">
                                <div ng-message="required">This is required</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div flex-gt-sm="50" ng-if="aecc.mode === 'add'">
                        <md-input-container class="md-block">
                            <input required name="userName" ng-pattern="/^[a-z0-9._]+$/" ng-model="aecc.addEditDealer.userName" placeholder="User ID">
                            <div ng-messages="addDealerForm.userName.$error" role="alert">
                                <div ng-message="required">This is required</div>
                                <div ng-message="pattern">Username can contain only alphabets, numbers, dot (.) and underscore (_)</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
                <div layout="column" layout-gt-sm="row" ng-if="aecc.mode === 'add'">
                    <div flex-gt-sm="50">
                        <md-input-container class="md-block" ng-if="aecc.mode === 'add'">
                            <input required name="password" type="password" ng-model="aecc.addEditDealer.password" placeholder="Password">
                            <div ng-messages="addDealerForm.password.$error" role="alert">
                                <div ng-message="required">This is required</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div flex-gt-sm="50">
                        <md-input-container class="md-block" ng-if="aecc.mode === 'add'">
                            <input required type="password" ng-model="aecc.addEditDealer.verifyPassword" name="verifyPassword" ng-pattern="aecc.addEditDealer.password"
                                placeholder="Confirm Password">
                            <div ng-messages="addDealerForm.verifyPassword.$error" role="alert">
                                <div ng-message="required">This is required</div>
                                <div ng-message="pattern">Passwords don't match</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
                <div layout="column" layout-gt-sm="row">
                    <div flex-gt-sm="50">
                        <md-input-container class="md-block">
                            <md-select required name="dealerType" ng-model="aecc.addEditDealer.dealerType">
                                <md-option ng-repeat="type in aecc.types" ng-value="type" placeholder="Dealer Type">
                                    {{type}}
                                </md-option>
                            </md-select>
                            <div ng-messages="addDealerForm.dealerType.$error" role="alert">
                                <div ng-message="required">This is required</div>
                            </div>

                        </md-input-container>
                    </div>
                    <div flex-gt-sm="50">
                        <md-input-container class="md-block">
                            <textarea ng-model="aecc.addEditDealer.address" md-maxlength="1000" rows="1" md-select-on-focus name="address" placeholder="Address"></textarea>
                            <div ng-messages="addDealerForm.address.$error" role="alert">
                                <div ng-message="maxlength">Address should be less than 1,000 characters</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
                <div layout="column" layout-gt-sm="row">
                    <div flex-gt-sm="50">
                        <md-input-container class="md-block">
                            <input required maxlength="100" type="email" ng-pattern="/^[a-z0-9]+[a-z0-9._\-]*@[a-z0-9._\-]+\.[a-z.]{2,5}$/" name="email" ng-model="aecc.addEditDealer.email"
                                placeholder="E-mail" />
                            <div ng-messages="addDealerForm.email.$error" role="alert">
                                <div ng-message="required">This is required</div>
                                <div ng-message="pattern">Please enter a valid email ID</div>
                                <div ng-message="maxlength">Your email must be less than 100 characters</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div flex-gt-sm="50">
                        <md-input-container class="md-block">
                            <input required minlength="10" maxlength="10" type="number" name="mobileNumber1" ng-model="aecc.addEditDealer.mobileNumber1"
                                placeholder="Mobile Number" />
                            <div ng-messages="addDealerForm.mobileNumber1.$error" role="alert">
                                <div ng-message="required">This is required</div>
                                <div ng-message-exp="['minlength','maxlength']">Please enter a 10 digit mobile number</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
                <div layout="column" layout-gt-sm="row">
                    <div flex-gt-sm="50">
                        <md-input-container class="md-block">
                            <input minlength="10" maxlength="10" type="number" name="mobileNumber2" ng-model="aecc.addEditDealer.mobileNumber2" placeholder="Mobile Number 2"
                            />
                            <div ng-messages="addDealerForm.mobileNumber2.$error" role="alert">
                                <div ng-message-exp="['minlength','maxlength']">Please enter a 10 digit mobile number</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div flex-gt-sm="50">
                        <md-input-container class="md-block">
                            <input minlength="10" maxlength="10" type="number" name="mobileNumber3" ng-model="aecc.addEditDealer.mobileNumber3" placeholder="Mobile Number 3"
                            />
                            <div ng-messages="addDealerForm.mobileNumber3.$error" role="alert">
                                <div ng-message-exp="['minlength','maxlength']">Please enter a 10 digit mobile number</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
                <div layout="column" layout-gt-sm="row">
                    <div flex-gt-sm="50">
                        <md-input-container class="md-block">
                            <input minlength="10" maxlength="10" type="number" name="mobileNumber4" ng-model="aecc.addEditDealer.mobileNumber4" placeholder="Mobile Number 4"
                            />
                            <div ng-messages="addDealerForm.mobileNumber4.$error" role="alert">
                                <div ng-message-exp="['minlength','maxlength']">Please enter a 10 digit mobile number</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div flex-gt-sm="50">
                        <md-input-container class="md-block">
                            <input minlength="10" maxlength="10" type="number" name="mobileNumber5" ng-model="aecc.addEditDealer.mobileNumber5" placeholder="Mobile Number 5"
                            />
                            <div ng-messages="addDealerForm.mobileNumber3.$error" role="alert">
                                <div ng-message-exp="['minlength','maxlength']">Please enter a 10 digit mobile number</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
                <div layout="column" layout-gt-sm="row">
                    <div flex-gt-sm="50">
                        <md-input-container class="md-block">
                            <textarea ng-model="aecc.addEditDealer.tnc" md-maxlength="10000" rows="1" md-select-on-focus name="tnc" placeholder="Terms &amp; Conditions"></textarea>
                            <div ng-messages="addDealerForm.tnc.$error" role="alert">
                                <div ng-message="maxlength">T&C should be less than 10,000 characters</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
                <div layout="column" layout-gt-sm="row" layout-align="center center">
                    <md-button type="submit" class="md-raised md-primary">Save</md-button>
                </div>
            </form>
        </md-content>
    </div>
    <div layout="column" layout-align="center center" ng-if="aecc.isLoading">
        <img src="resources/img/spinner.gif" height="150px"></img>
    </div>
</div>
