<div ng-controller="dealer.controller as cc">
	<div class="fullScreen" ng-if="!cc.isLoading">
		<md-content class="fullScreen md-padding" layout="row">
			<div flex layout="column">
				<div ng-if="hc.loginFactory.role !== 'Driver' && cc.dealers.length > 0" layout="row" layout-padding layout-align="end center" style="margin: 8px;line-height:48px">
					
					<img ng-if="cc.exporting" src="resources/img/refresh.gif" height="48px" width="48px"></img>
					<div ng-click="cc.export()">
						<label> Export </label>
						<ng-md-icon ng-if="!cc.exporting" icon="get_app" ng-attr-style="color: grey" size="36"></ng-md-icon>
					</div>
				</div>
				<div ng-repeat="dealer in cc.dealers"> 
					<md-card layout="row">
						<md-card-title ng-click="cc.move(dealer.dealerId)" style="padding:10px;padding-right:0px;padding-bottom:10px">
							<md-card-title-text>
								<div class="md-headline">
									<label ng-bind="dealer.dealerName"></label>
								</div>
								<span class="md-subhead" style="padding-top:0px">
									<div ng-if="dealer.mobileNumberHref">
										<ng-md-icon icon="call" ng-attr-style="color: grey" size="20"></ng-md-icon>
										<a ng-href="{{dealer.mobileNumberHref}}">{{dealer.mobileNumber1}} </a>
									</div>
									<div ng-show="dealer.email && dealer.email !== ''" style="padding-top:5px">
										<ng-md-icon icon="mail" ng-attr-style="color: grey" size="20"></ng-md-icon>
										<label ng-bind="dealer.email"></label>
									</div>
								</span>
							</md-card-title-text>
						</md-card-title>
						<md-card-actions layout="row" layout-align="end start" style="margin-left: 0px; margin-top: 0px">
							<md-button class="md-icon-button" ng-click="cc.delete(dealer.dealerId)" style="margin:0px">
								<ng-md-icon icon="delete" ng-attr-style="color: grey" size="24"></ng-md-icon>
	    					</md-button>
						</md-card-actions>
					</md-card>
				</div>
			</div>
		</md-content>
		
		<md-button class="md-fab md-fab-bottom-right" style="position: fixed;font-size: 36px" ng-click="cc.move()">
			<div> + </div>
		</md-button> 
	</div>
	<div class="fullScreen" layout="column" layout-align="center center" ng-if="cc.isLoading">
		<img src="resources/img/spinner.gif" height="150px"></img>
	</div>
</div> 



